@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ExitProcedureVM

<div class="col-sm-10">
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Documents).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @(Html.Kendo().Upload()
                .Name("Documents")
                .HtmlAttributes(new { @class = "form-control" })
                .Multiple(true)
                .Events(e => e
                    .Select("onSelectExitProcedure")
                )

            )
            @Html.ValidationMessageFor(model => model.Documents)
        </div>
    </div>
</div>