@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model IEnumerable<ExitProcedureChecklistVM>

<div class="col-sm-12">
    @(Html.Kendo().Grid(Model)
    .Name("ExitProcedureChecklist")
    //.ToolBar(tools => tools.Create().Text("Add New ExitProcedureChecklist"))
    .Editable(editable => editable.Mode(GridEditMode.InCell)
    //.CreateAt(GridInsertRowPosition.Bottom)
    )
    .Columns(columns =>
    {
        columns.Bound(p => p.ItemExitProcedure).ClientTemplate("#= ItemExitProcedure #" +
                           "<input type='hidden' name='ExitProcedureChecklist[#= getExitProcedureChecklists(data)#].ItemExitProcedure' value='#= ItemExitProcedure #' />"
                         );

        columns.Bound(p => p.DateOfApproval).ClientTemplate("#= kendo.toString(DateOfApproval, 'MM/dd/yyyy') #" +
            "<input type='hidden' name='ExitProcedureChecklist[#= getExitProcedureChecklists(data)#].DateOfApproval' value='#= DateOfApproval #' />"
            );

        //columns.Bound(p => p.ApproverIndicator).Hidden().ClientTemplate("#= ApproverIndicator.Text #" +
        //      "<input type='hidden' name='ExitProcedureChecklist[#= getExitProcedureChecklists(data)#].ApproverIndicator.Text' value='#= ApproverIndicator.Text #' />"
        //    ).EditorViewData(new
        //    {
        //        BindTo = ExitProcedureChecklistVM.GetApproverIndicator()
        //    });

        columns.Bound(p => p.CheckListItemApproval).ClientTemplate("#= CheckListItemApproval.Text #" +
          "<input type='hidden' name='ExitProcedureChecklist[#= getExitProcedureChecklists(data)#].CheckListItemApproval.Text' value='#= CheckListItemApproval.Text #' />"
        ).EditorViewData(new
        {
            BindTo = ExitProcedureChecklistVM.GetCheckListItemApproval()
        });

        columns.Bound(p => p.Remarks).ClientTemplate("#= Remarks #" +
                   "<input type='hidden' name='ExitProcedureChecklist[#= getExitProcedureChecklists(data)#].Remarks' value='#= Remarks #' />"
                 );


        columns.Bound(p => p.ID).Hidden().ClientTemplate("#= ID #" +
          "<input type='hidden' name='ExitProcedureChecklist[#= getExitProcedureChecklists(data)#].ID' value='#= ID #' />"
        );

        columns.Bound(p => p.ApprovalMail).Hidden().ClientTemplate("#= ApprovalMail #" +
          "<input type='hidden' name='ExitProcedureChecklist[#= getExitProcedureChecklists(data)#].ApprovalMail' value='#= ApprovalMail #' />"
        );

        columns.Bound(p => p.EditMode).Hidden().ClientTemplate("#= EditMode #" +
          "<input type='hidden' name='ExitProcedureChecklist[#= getExitProcedureChecklists(data)#].EditMode' value='#= EditMode #' />"
        );


    })
    .Pageable()
    .Events(e =>
    {
        e.Edit("onEditKendoDetail");
        e.DataBound("onDataBoundExitProcedureChecklists");
    })
    .DataSource(dataSource => dataSource.Ajax()
                   .Model(model =>
                   {
                       model.Id(p => p.ID);
                       model.Field(p => p.ItemExitProcedure).Editable(false);
                       model.Field(p => p.Remarks).Editable(false);
                       model.Field(m => m.DateOfApproval);
                       //model.Field(m => m.ApproverIndicator).DefaultValue(ExitProcedureChecklistVM.GetApproverIndicatorDefaultValue());
                       model.Field(m => m.CheckListItemApproval).DefaultValue(ExitProcedureChecklistVM.GetCheckListItemApprovalDefaultValue());

                   })
                   .ServerOperation(false)
                   .PageSize(10)
     )

    )
</div>

<script>

    

    function getExitProcedureChecklists(dataItem) {
        var data = $("#ExitProcedureChecklist").data("kendoGrid").dataSource.data();
        return data.indexOf(dataItem);
    }

    function onDataBoundExitProcedureChecklists(e) {
        var grid = $("#ExitProcedureChecklist").data("kendoGrid");
        hideDeletedRowKendoDetail(grid);
    }

    function filterApproverPosition(e) {
        return {
            approverUnit: $("#ApproverUnit").data("kendoDropDownList").value()
        };
    }

    function filterApproverName(e) {
        return {
            position: $("#ApproverPosition_Value").data("kendoDropDownList").value()
        };
    }
</script>