@using MCAWebAndAPI.Model.ViewModel.Form.HR

@model ExitProcedureVM

@{
    ViewBag.Title = "Form Create Exit Procedure";
}

@using (Html.BeginForm("CreateExitProcedure", "HRExitProcedure", FormMethod.Post,
                                                                             new
                                                                             {
                                                                                 @class = "form-horizontal",
                                                                                 enctype = "multipart/form-data"
                                                                             }))
{

    
    <fieldset>
        <legend>Exit Procedure Data</legend>
        <div class="row">
            @Html.Partial("_ExitProcedureData", Model)
        </div>

        <legend>Exit Procedure Checklist</legend>
        <div class="row">
            @Html.Partial("_ExitProcedureChecklist", Model.ExitProcedureChecklist)
        </div>

        <legend>Documents</legend>
        <div class="row">
            @Html.Partial("_Documents", Model)
        </div>
    </fieldset>

}

    <div class="form-actions">
        <div class="row">
            <div class="col-md-12">
                <button id="submit-for-approval" class="btn btn-primary" type="button" onclick="checkDocumentSubmitApproval()">
                    <i class="fa fa-save"></i>
                    Submit for Approval
                </button>
                <button id="submit-draft-initiate-button" class="btn btn-primary" type="button" onclick="checkDocumentSubmitDraft()">
                    <i class="fa fa-save"></i>
                    Save
                </button>
            </div>
        </div>
    </div>

@section scripts{
    <script type="text/javascript">
        function checkDocumentSubmitApproval()
        {
            if ($(".k-file").length == 0)
            {
                alert("Please upload Document");
            }
            else
            {
                $("#StatusForm").val("Pending Approval");
                $("form").submit();
            }
        }

        function checkDocumentSubmitDraft()
        {
            if ($(".k-file").length == 0) {
                alert("Please upload Document");
            }
            else {
                $("#StatusForm").val("Draft")
                $("form").submit();
            }
        }
        
        function onSuccess(data)
        {
            window.location.href = data.urlToRedirect;
        }

        function onFailure(data)
        {
            window.location.href = data.urlToRedirect;
        }

        function OnSelectAssetHolderFrom(e) {
            var dataItem = this.dataItem(e.item);
            var url = "/HRDataMaster/GetProfessional/" + dataItem.ID;


            $.getJSON(url, function (result) {

                $('#FullName').prop('value', result[0].Name);
                $('#ProjectUnit').prop('value', result[0].Project_Unit);
                $('#Position').prop('value', result[0].Position);
                $('#PSANumber').prop('value', result[0].PSANumber);
                $('#JoinDate').prop('value', result[0].JoinDateTemp);
                $('#RequestorMailAddress').prop('value', result[0].OfficeEmail);
                $('#ProfessionalID').prop('value', result[0].ID);

            })
          
        }

                      
    </script>
}
