@using MCAWebAndAPI.Model.ViewModel.Form.HR

@model ExitProcedureVM

@{
    ViewBag.Title = "Form for Approver To Approved";
}

@using (Html.BeginForm("UpdateChecklistItemApprover", "HRExitProcedure", FormMethod.Post,
                                                                                         new
                                                                                         {
                                                                                             @class = "form-horizontal",
                                                                                             enctype = "multipart/form-data"
                                                                                         }))
{

    <fieldset>
        <legend>Exit Procedure Data</legend>
        <div class="row">
            @Html.Partial("_ExitProcedureDataForApprover", Model)
        </div>
        
        <legend>Exit Procedure Checklist</legend>
        <div class="row">
            @Html.Partial("_ExitProcedureChecklistForApprover", Model.ExitProcedureChecklist)
        </div>
    </fieldset>
}

    <div class="form-actions">
        <div class="row">
            <div class="col-md-12">
                <button id="approved-by-approver" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    Save
                </button>
                
            </div>
        </div>
    </div>



@section scripts{
    <script type="text/javascript">


        $(document).ready(function () {
            $("#approved-by-approver").click(function () {
                $("#StatusForm").val("Approved")
                $("form").submit();
    });
});

        function onSuccess(data)
        {
            window.location.href = data.urlToRedirect;
        }

        function onFailure(data)
        {
            window.location.href = data.urlToRedirect;
        }
    </script>
}
