@*

    Wireframe FIN01: Finance Landing Page

*@
@{
    ViewBag.Title = "Index";
}

<div id="main" role="main">
    <div id="content" class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-11 col-lg-12 ">
                <div class="well no-padding">

                    <form action="index.html" id="login-form" class="smart-form client-form">
                        <header>
                            <h1 align="center" class="txt-color-grey login-header-big">Budget vs. Actual Disbursement (Latest month)</h1>
                        </header>

                        <fieldset>
                            <div class="hero-unit">
                                <p>The project management and integrated collaboration systems that help day-to-day needs of MCA-Indonesia.</p><br />
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="pull-left col-lg-10 ">
                <div class="well no-padding">

                    <form action="index.html" id="login-form" class="smart-form client-form">
                        <header>
                            <h1 align="center" class="txt-color-grey login-header-big">Outstanding Advances</h1>
                        </header>

                        <fieldset>
                            <div class="hero-unit">

                                <p>aaaaaaaaaaaaaa.</p><br />

                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div class="pull-right col-lg-2 ">
                <div class="well no-padding">

                    <form action="index.html" id="login-form" class="smart-form client-form">
                        <header>
                            <h1 align="center" class="txt-color-grey login-header-big">SPHL (IDR)</h1>
                        </header>

                        <fieldset>
                            <div class="hero-unit">
                                <p>
                                    cccccccc.<br />
                                    bbbbbbbbbbbbb.
                                </p><br />

                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-11 col-lg-12 ">
                <div class="well no-padding">

                    <form action="index.html" id="login-form" class="smart-form client-form">
                        <header>
                            <h1 align="center" class="txt-color-grey login-header-big">Tax Exemption adn Reimbursement (IDR)</h1>
                        </header>

                        <div class="pull-left col-lg-1">
                            <p>&nbsp;</p>
                        </div>

                        <div class="pull-left col-lg-1 ">
                            <div class="well no-padding">
                                <table class="table table-bordered table-condensed">
                                    <caption>Tax Category</caption>
                                    <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>VAT</td>
                                        </tr>
                                        <tr>
                                            <td>Income Tax</td>
                                        </tr>
                                        <tr>
                                            <td>Others</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div class="pull-left col-lg-3 ">
                            <div class="well no-padding">
                                <table class="table table-bordered table-condensed">
                                    <caption>2014</caption>
                                    <thead>
                                        <tr>
                                            <th>Exemption</th>
                                            <th>Reimbursement</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>200</td>
                                            <td>120</td>
                                        </tr>
                                        <tr>
                                            <td>200</td>
                                            <td>120</td>
                                        </tr>
                                        <tr>
                                            <td>200</td>
                                            <td>120</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div class="pull-left col-lg-3 ">
                            <div class="well no-padding">
                                <table class="table table-bordered table-condensed">
                                    <caption>2015</caption>
                                    <thead>
                                        <tr>
                                            <th>Exemption</th>
                                            <th>Reimbursement</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>200</td>
                                            <td>120</td>
                                        </tr>
                                        <tr>
                                            <td>200</td>
                                            <td>120</td>
                                        </tr>
                                        <tr>
                                            <td>200</td>
                                            <td>120</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div class="pull-left col-lg-3 ">
                            <div class="well no-padding">
                                <table class="table table-bordered table-condensed">
                                    <caption>2016</caption>
                                    <thead>
                                        <tr>
                                            <th>Exemption</th>
                                            <th>Reimbursement</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>200</td>
                                            <td>120</td>
                                        </tr>
                                        <tr>
                                            <td>200</td>
                                            <td>120</td>
                                        </tr>
                                        <tr>
                                            <td>200</td>
                                            <td>120</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div class="pull-left col-lg-1">
                            <p>&nbsp;</p>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>