@using MCAWebAndAPI.Model.ViewModel.Form.HR

@model IEnumerable<InterviewDetailVM>

<div class="col-xs-12">

    @(Html.Kendo().Grid(Model)
    .Name("InterviewlistDetails")
    .Columns(columns =>
    {
        columns.Bound(p => p.Date).ClientTemplate("<a href=''>#= Date #</a>" +
        "<input type='hidden' name='InterviewlistDetails[#= GetDetailShortlist(data)#].Date' value='#= Date #' />");

        columns.Bound(p => p.InterviewPanel).ClientTemplate("<a href=''>#= InterviewPanel #</a>" +
        "<input type='hidden' name='InterviewlistDetails[#= GetDetailShortlist(data)#].InterviewPanel' value='#= InterviewPanel #' />");

        columns.Bound(p => p.InterviewSummary).ClientTemplate("<a href=''>#= Candidate #</a>" +
       "<input type='hidden' name='InterviewlistDetails[#= GetDetailShortlist(data)#].Candidate' value='#= Candidate #' />");
        columns.Bound(p => p.Result).ClientTemplate("<a href=''>#= Candidate #</a>" +
       "<input type='hidden' name='InterviewlistDetails[#= GetDetailShortlist(data)#].Candidate' value='#= Candidate #' />");

        columns.Bound(p => p.EditMode).Hidden().ClientTemplate("#= EditMode #" +
           "<input type='hidden' name='InterviewlistDetails[#= GetDetailShortlist(data)#].EditMode' value='#= EditMode #' />"
         );
       
    })
    .Events(e =>
    {
        e.Edit("onEditKendoDetail");
        e.DataBound("onDataBoundDependentDetails");
    })
    .DataSource(dataSource => dataSource.Ajax()
    .Model(model =>
    {
        model.Id(p => p.ID);
    })
    .ServerOperation(false)

    )
    )
</div>
<script>
    function GetDetailShortlist(dataItem) {
        var data = $("#InterviewlistDetails").data("kendoGrid").dataSource.data();
        return data.indexOf(dataItem);
    }

    function onDataBoundDependentDetails(e) {
        var grid = $("#InterviewlistDetails").data("kendoGrid");
        hideDeletedRowKendoDetail(grid);
    }
</script>




