@using MCAWebAndAPI.Model.ViewModel.Form.HR

@model IEnumerable<InterviewDetailVM>

<div class="col-md-12" style="margin-bottom: 20px; margin-top: 5px">

    @(Html.Kendo().Grid(Model)
    .Name("InterviewlistDetails")
    .Columns(columns =>
    {
        columns.Bound(p => p.Date).ClientTemplate("#= DateString #" +
        "<input type='hidden' name='InterviewlistDetails[#= GetDetailShortlist(data)#].Date' value='#= Date #' />");

        columns.Bound(p => p.InterviewPanel).ClientTemplate("#= InterviewPanel #" +
        "<input type='hidden' name='InterviewlistDetails[#= GetDetailShortlist(data)#].InterviewPanel' value='#= InterviewPanel #' />");

        columns.Bound(p => p.InterviewSummary).ClientTemplate("<input name='InterviewlistDetails[#= GetDetailShortlist(data)#].InterviewSummary' value='#= InterviewSummary #' style='width: 300px; height: 200px; border: none; background-color: transparent' />");

        columns.Bound(p => p.Result).ClientTemplate("#= Result #" +
       "<input type='hidden' name='InterviewlistDetails[#= GetDetailShortlist(data)#].Result' value='#= Result #' />");

        columns.Bound(p => p.EditMode).Hidden().ClientTemplate("#= EditMode #" +
           "<input type='hidden' name='InterviewlistDetails[#= GetDetailShortlist(data)#].EditMode' value='#= EditMode #' />"
         ).Width(100);

    })
    .Events(e =>
    {
        e.Edit("onEditKendoDetail");
        e.DataBound("onDataBoundDependentDetails");
    })
    .DataSource(dataSource => dataSource.Ajax()
    .Model(model =>
    {
        model.Id(p => p.ID);
    })
    .ServerOperation(false)

    )
    )
</div>
<script>
    function GetDetailShortlist(dataItem) {
        var data = $("#InterviewlistDetails").data("kendoGrid").dataSource.data();
        return data.indexOf(dataItem);
    }

    function onDataBoundDependentDetails(e) {
        var grid = $("#InterviewlistDetails").data("kendoGrid");
        hideDeletedRowKendoDetail(grid);
    }
</script>




