@using MCAWebAndAPI.Model.ViewModel.Form.Asset

@model AssetCheckResultHeaderVM

<form>
    <fieldset>  
        <table>
            <tr>
                <td style="padding: 10px;">
                    <div>
                        @Html.Bootstrap().LabelFor(m => m.Position).Class("col-md-4 control-label")
                        @Html.EditorFor(m => m.Position)
                    </div>
                </td>
                <td style="padding: 10px;">
                    <div>
                        @Html.Bootstrap().LabelFor(m => m.Name).Class("col-md-4 control-label")
                        @Html.EditorFor(m => m.Name)
                    </div>
                </td>
            </tr>
        </table>          
        
        
    </fieldset>
</form>

<script>
    $(document).ready(function () {
        var idNama = $('#Name_Value').val();

        var url = "/ASSAssetCheckResult/PositionID/" + idNama;

        $.post(url, function (data) {
            var dropdownlist = $("#Position_Value").data("kendoDropDownList");
            dropdownlist.bind("dataBound", function (e) {
                dropdownlist.select(parseInt(data));
            });
            
        });

        $("#Name_Value").change(function () {
            idNama = $('#Name_Value').val();

            url = "/ASSAssetCheckResult/PositionID/" + idNama;

            $.post(url, function (data) {
                var dropdownlist = $("#Position_Value").data("kendoDropDownList");
                dropdownlist.select(parseInt(data));
            });
        });
    });
</script>