@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ProfessionalPerformanceEvaluationVM

<div class="col-xs-12">
    @(Html.Kendo().Grid(Model.ProfessionalPerformanceEvaluationDetails)
        .Name("ProfessionalPerformanceEvaluationDetails")
        .Columns(columns =>
        {
            columns.Bound(p => p.Category.Text);
            columns.Bound(p => p.IndividualGoalAndPlan);
            columns.Bound(p => p.PlannedWeight);
            columns.Bound(p => p.ActualWeight);
            columns.Bound(p => p.Score);
            columns.Bound(p => p.TotalScore);
            columns.Bound(p => p.Output);
        })
        .DataSource(dataSource => dataSource.Ajax()
                   .Model(model =>
                   {
                       model.Id(p => p.ID);
                   })
        )
    )
</div>
