
@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ProfessionalPerformanceEvaluationVM

@{
    ViewBag.Title = "Print Professional Performance Evaluation";
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}

<div class="form-horizontal">
    <fieldset>
        <legend>Professional Performance Evaluation</legend>
        <div class="row">
            @Html.Partial("_ProfessionalPerformanceEvaluation_Print", Model)
        </div>
        <legend>Professional Performance Evaluation Details</legend>
        <div class="row">
            @Html.Partial("_ProfessionalPerformanceEvaluationDetail_Print", Model)
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.OverallTotalScore).Class("col-sm-4 control-label")
            <div class="col-sm-8">
                @Html.DisplayFor(m => m.OverallTotalScore)
            </div>
        </div>
    </fieldset>
</div>