@using MCAWebAndAPI.Model.ViewModel.Form.Finance
@model RequisitionNoteVM

@*
    Wireframe FIN05: Requisition Note
        i.e.: Purchase Requisition Note
*@

@{
    ViewBag.Title = "Create Requisition Note";
    
}

@using (Html.BeginForm("CreateRequisitionNote", "FINRequisitionNote",
                FormMethod.Post,
                new
                {
                    @class = "form-horizontal",
                    enctype = "multipart/form-data"
                }))
    {
    <fieldset>
        <legend>Requisition Note</legend>
        <div class="row">
            <div class="col-sm-6">
                @Html.HiddenFor(m => m.ID)
            </div>
        </div>
        <div class="row">
            @Html.Partial("_General", Model)
        </div>
        
        <legend>Item Details</legend>
        <div class="row">
            @Html.Partial("_ItemDetails", Model.ItemDetails)
        </div>
    </fieldset>
    <div class="row">
        <p style="margin: 50px 0px 0px 20px; font-style: italic;">
            Instructions:
            <br />
            1. Requisition for Goods:  Indicate detailed specifications. Should be generic - no brand names. <br />
            2. Requisition for Works/Services:  Attached copy of TOR. <br />
        </p>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-12">
               
                <button id="submit-button" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    Submit
                </button>
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {
            var categoryDropDownList = $("#Category_Value").data("kendoDropDownList");
            categoryDropDownList.bind("dataBound", function (e) {
            });

            $("#hdnEvenBudgetId").val("-1");

        });

        
    </script>
}

<style media="screen">
    #Fund {
        background-color: #dedede;
    }

    textarea {
        padding-left: 10px !important;
    }
</style>