@using MCAWebAndAPI.Model.ViewModel.Form.Finance
@model RequisitionNoteVM

@{
    ViewBag.Title = "Create Requisition Note";
}

@using (Html.BeginForm("CreateRequisitionNote", "FINRequisitionNote", FormMethod.Post,
            new
            {
                @class = "form-horizontal",
                enctype = "multipart/form-data"
            }))
{
    <fieldset>
        <legend>Requisition Note</legend>
        <div class="row">
            <div class="col-sm-6">
                @Html.HiddenFor(m => m.ID)
            </div>
        </div>
        <div class="row">
            @Html.Partial("_General", Model)
        </div>
        
        <legend>Item Details</legend>
        <div class="row">
            @Html.Partial("_ItemDetails", Model.ItemDetails)
        </div>
    </fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-12">
               
                <button id="submit-button" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    Submit
                </button>
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {


            $("#Date").kendoDatePicker({
                format: "mm/dd/yyyy"
            });

        });
    </script>
}
