@using MCAWebAndAPI.Model.ViewModel.Form.Finance
@model RequisitionNoteVM

@{
    ViewBag.Title = "Print Requisition Note";
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}

<div class="form-horizontal">
    <fieldset>
        <legend>Personal Details</legend>
        <p>@Model.Title</p>
    </fieldset>
</div>
