
@{
    ViewBag.Title = "TaskWithSingleResource";
}

<h2>TaskWithSingleResource</h2>

<div class="row">
    <div class="col-md-12">
        <div id="task-with-single-resource"></div>
    </div>
</div>

<script>
    $(document).ready(function(){
        EPMO.Grids.displayTaskWithSingleResourceGrid("task-with-single-resource");
    });
</script>