@using MCAWebAndAPI.Model.ViewModel.Form.Asset



@model IEnumerable<AssetAcquisitionItemVM>

<div class="col-sm-12">

    @(Html.Kendo().Grid(Model)
        .Name("MonthlyFeeDetails")
        .ToolBar(tools => tools.Create().Text("Add New Fee"))
        .Editable(editable => editable.Mode(GridEditMode.InCell)
        .CreateAt(GridInsertRowPosition.Bottom))
        .Columns(columns =>
        {
            columns.Bound(p => p.DateOfNewFee).ClientTemplate("#= kendo.toString(DateOfNewFee, 'MM-dd-yyyy') #" +
            "<input type='hidden' name='MonthlyFeeDetails[#= getMonthlyFeeDetail(data)#].DateOfNewFee' value='#= DateOfNewFee #' />"
            );

            columns.Bound(p => p.EditMode).Hidden().ClientTemplate("#= EditMode #" +
            "<input type='hidden' name='MonthlyFeeDetails[#= getMonthlyFeeDetail(data)#].EditMode' value='#= EditMode #' />"
            );

            columns.Command(command => command.Custom("Delete").HtmlAttributes(new { @class = "btn btn-danger" })
            .Click("onDeleteKendoDetail")).Width(100);
        })
        .Events(e =>
        {
            e.Edit("onEditKendoDetail");
            e.DataBound("onDataBoundMonthlyFeeDetails");
        })
        .DataSource(dataSource => dataSource.Ajax()
        .Model(model =>
        {
            model.Id(p => p.ID);
            model.Field(m => m.DateOfNewFee).DefaultValue(DateTime.UtcNow);
            //model.Field(m => m.Currency).DefaultValue(AssetAcquisitionItemVM.GetCurrencyDefaultValue());
        })
        .ServerOperation(false)
        )
    )
</div>

<script>
    function getMonthlyFeeDetail(dataItem) {
        var data = $("#MonthlyFeeDetails").data("kendoGrid").dataSource.data();
        dataItem.set('AnnualFee', dataItem.MonthlyFee * 12);
        return data.indexOf(dataItem);
    }

    function onDataBoundMonthlyFeeDetails(e) {
        var grid = $("#MonthlyFeeDetails").data("kendoGrid");
        hideDeletedRowKendoDetail(grid);
    }
</script>
