@using MCAWebAndAPI.Model.ViewModel.Form.Asset



@model IEnumerable<AssetAcquisitionItemVM>

@{
    var index = 0;
}

<div class="col-md-12" style="margin-bottom: 20px">
    @(Html.Kendo().Grid(Model)
        .Name("Details")
        //.ToolBar(tools => tools.Create().Text("Add New"))
        .Editable(editable => editable.Mode(GridEditMode.InCell)
        .CreateAt(GridInsertRowPosition.Bottom))
        .Columns(columns =>
        {

            //columns.Bound(p => p.POLineItem).ClientTemplate("#= POLineItem #" +
            //"<input type='hidden' name='Details[#= getWorkingRelationshipDetails(data)#].POLineItem' value='#= POLineItem #' />"
            //);

            columns.Bound(p => p.AssetSubAsset).Width(500).ClientTemplate("#= AssetSubAsset.Text #" +
                          "<input type='hidden' name='Details[#= getWorkingRelationshipDetails(data)#].AssetSubAsset.Value' value='#= AssetSubAsset.Value #' />"
                        ).EditorViewData(new
                        {
                            DataTextField = "Text",
                            DataValueField = "Value",
                            ControllerName = "ASSAssetAcquisition",
                            ActionName = "GetAssetSubSAssetGrid"
                        });

            columns.Bound(p => p.WBS).Width(500).ClientTemplate("#= WBS.Text #" +
                          "<input type='hidden' name='Details[#= getWorkingRelationshipDetails(data)#].WBS.Value' value='#= WBS.Value #' />"
                        ).EditorViewData(new
                        {
                            DataTextField = "Text",
                            DataValueField = "Value",
                            ControllerName = "ASSAssetAcquisition",
                            ActionName = "GetWBSGrid"
                        });

            columns.Bound(p => p.CostIDR).ClientTemplate("#= kendo.toString(CostIDR, 'n2') #" +
            "<input type='hidden' name='Details[#= getWorkingRelationshipDetails(data)#].CostIDR' value='#= CostIDR #' />"
            );

            columns.Bound(p => p.CostUSD).ClientTemplate("#= kendo.toString(CostUSD, 'n2') #" +
            "<input type='hidden' name='Details[#= getWorkingRelationshipDetails(data)#].CostUSD' value='#= CostUSD #' />"
            );

            columns.Bound(p => p.Remarks).ClientTemplate("#= Remarks #" +
            "<input type='hidden' name='Details[#= getWorkingRelationshipDetails(data)#].Remarks' value='#= Remarks #' />"
            );

            columns.Bound(p => p.Status).ClientTemplate("#= Status #" +
            "<input type='hidden' name='Details[#= getWorkingRelationshipDetails(data)#].Status' value='#= Status #' />"
            );

            columns.Bound(p => p.ID).Hidden().ClientTemplate("#= ID #" +
          "<input type='hidden' name=Details[#= getWorkingRelationshipDetails(data)#].ID value=#= ID # />"


        );
            columns.Bound(p => p.EditMode).Hidden()
         .ClientTemplate("#= EditMode #<input type='hidden' name='Details[#= getWorkingRelationshipDetails(data)#].EditMode' value='#= EditMode #' />");
            //columns.Command(command => command.Custom("Delete").HtmlAttributes(new { @class = "btn btn-danger" })
            //.Click("onDeleteKendoDetail")).Width(100);
        })
        .Events(e =>
        {
            e.Edit("onCustomEditKendoDetail");
            e.DataBound("onDataBoundWorkingRelationship");
        })
        .DataSource(dataSource => dataSource.Ajax()
                   .Model(model =>
                   {
                       model.Id(p => p.ID);
                       model.Field(p => p.POLineItem).Editable(false);
                       model.Field(m => m.AssetSubAsset).Editable(false).DefaultValue(AssetAcquisitionItemVM.GetAssetSubAssetDefaultValue());
                       model.Field(m => m.WBS).Editable(false).DefaultValue(AssetAcquisitionItemVM.GetWBSDefaultValue());
                       model.Field(p => p.CostIDR).Editable(false);
                       model.Field(p => p.CostUSD).Editable(false);
                       model.Field(p => p.Remarks).Editable(false);
                       model.Field(p => p.Status).Editable(false);

                   })
                   .ServerOperation(false)
        )
    )
</div>
@*@Html.HiddenFor(m => m.ID)*@
<script>
    $(document).ready(function () {
        if ($("#ID").val() != null) {
            //alert("ID not null");
        }
    })

    function getWorkingRelationshipDetails(dataItem) {
        var data = $("#Details").data("kendoGrid").dataSource.data();
        //data.set('AssetSubAsset', data.AssetSubAsset);
        return data.indexOf(dataItem);
    }

    function onCustomEditKendoDetail(e) {
        if (!e.model.isNew()) {
            var container = e.container;
            var tr = container.closest('tr');
            var data = this.dataItem(tr); //get the row data so it can be referred later
            // 1 is Item.Mode.UPDATED
            data.set("EditMode", 1);
        }
        if (isCustomAdd && e.model.isNew()) {
            isCustomAdd = false;
            $(e.container).find("[name='Details']").val(customRowDataItem.Details).change();
        }
    }
    function onDataBoundWorkingRelationship(e) {
        var grid = $("#Details").data("kendoGrid");
        hideDeletedRowKendoDetail(grid);
    }
</script>
