@using MCAWebAndAPI.Model.ViewModel.Form.HR



<div class="form-horizontal">
    <div class="wrp">

        Not Authorized

    </div>
</div>


<style type="text/css">
        .wrp {
            width: 100%;
            text-align: center;
            font-size: 150%;
        }

    
</style>