@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model TimesheetVM

@{
    ViewBag.Title = "Print Timesheet";
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}



<div class="form-horizontal">

    <fieldset>

        <div class="wrp">&nbsp;</div>
        <div class="wrp">

            MCA-INDONESIA MONTHLY TIMESHEET

        </div>
        <div class="wrp">&nbsp;</div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    @*<thead>*@
                    <tr>
                        <td colspan="3" class="tdHeadergreen" >NAME</td>
                        <td colspan="11" class="tdHeadergreen" ></td>
                        <td colspan="4" class="tdHeadergray">POSITION</td>
                        <td colspan="13" class="tdHeadergray"></td>
                        <td colspan="1">Aug 20/2015 to Sep 19/2015</td>
                        <td colspan="3" >Professional No.</td>
                    </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>
                            <td>13</td>
                            <td>14</td>
                            <td>15</td>
                            <td>16</td>
                            <td>17</td>
                            <td>18</td>
                            <td>19</td>
                            <td>20</td>
                            <td>21</td>
                            <td>22</td>
                            <td>23</td>
                            <td>24</td>
                            <td>25</td>
                            <td>26</td>
                            <td>27</td>
                            <td>28</td>
                            <td>29</td>
                            <td>30</td>
                            <td>31</td>
                            <td rowspan="3">DETAILS    WORK LOCATION</td>
                            <td rowspan="3">TOTAL DAY</td>
                            <td colspan="2">OFFICE USE</td>
                        </tr>

                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td>20</td>
                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                        <td>27</td>
                        <td>28</td>
                        <td>29</td>
                        <td>30</td>
                        <td>31</td>
                        <td rowspan="2" colspan="2">ok</td>
                    </tr>

                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>
                            <td>13</td>
                            <td>14</td>
                            <td>15</td>
                            <td>16</td>
                            <td>17</td>
                            <td>18</td>
                            <td>19</td>
                            <td>20</td>
                            <th>21</th>
                            <td>22</td>
                            <td>23</td>
                            <td>24</td>
                            <td>25</td>
                            <td>26</td>
                            <td>27</td>
                            <td>28</td>
                            <td>29</td>
                            <td>30</td>
                            <td>31</td>
                        </tr>

                  
                 

                        @for (int i = 1; i <= 15 - 1; i++)
                        {
                            <tr>
                                <td>@i.ToString()</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>11</td>
                                <td>12</td>
                                <td>13</td>
                                <td>14</td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                                <td>19</td>
                                <td>20</td>
                                <td>21</td>
                                <td>22</td>
                                <td>23</td>
                                <td>24</td>
                                <td>25</td>
                                <td>26</td>
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                                <td>30</td>
                                <td>31</td>
                                <td>Location  @i.ToString()  : Jakarta</td>
                                <td>0.0</td>
                                <td>ok</td>
                                <td>ok</td>
                            </tr>
                        }
                    <tr>
                        <td colspan="31">NOTES :</td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="35">*Mark location as place where the night is spent.</td>

                    </tr>
                    <tr>
                        <td colspan="35">Travel Itinerary (dates, locations) </td>

                    </tr>
                    <tr>
                        <td colspan="35"></td>

                    </tr>
                    <tr>
                        <td colspan="35">Other explanatory notes: </td>

                    </tr>
                    <tr>
                        <td colspan="35"></td>

                    </tr>
                        <tr>
                            <td colspan="35">Please check accuracy against Days Off forms before signing</td>

                        </tr>

                    <tr>
                        <td colspan="35"></td>

                    </tr>
                        <tr>
                            <td colspan="5">1. Professional</td>
                            <td colspan="2">Name</td>
                            <td colspan="11"></td>
                            <td colspan="2"></td>
                            <td colspan="3">Designation</td>
                            <td colspan="5">ME Director</td>
                            <td colspan="2"></td>
                            <td colspan="3">Signature:</td>
                            <td colspan="1">Signature:</td>
                            <td colspan="1">Date:</td>
                        </tr>
                    <tr>
                        <td colspan="5">1. Professional</td>
                        <td colspan="2">Name</td>
                        <td colspan="11"></td>
                        <td colspan="2"></td>
                        <td colspan="3">Designation</td>
                        <td colspan="5">ME Director</td>
                        <td colspan="2"></td>
                        <td colspan="3">Signature:</td>
                        <td colspan="1">Signature:</td>
                        <td colspan="1">Date:</td>
                    </tr>
                    <tr>
                        <td colspan="5">1. Professional</td>
                        <td colspan="2">Name</td>
                        <td colspan="11"></td>
                        <td colspan="2"></td>
                        <td colspan="3">Designation</td>
                        <td colspan="5">ME Director</td>
                        <td colspan="2"></td>
                        <td colspan="3">Signature:</td>
                        <td colspan="1">Signature:</td>
                        <td colspan="1">Date:</td>
                    </tr>
                        <tr>
                            <td colspan="35"></td>

                        </tr>
                  
</table>

</div>
        </div>

      
    </fieldset>
</div>



<style type="text/css">
    .wrp {
        width: 100%;
        text-align: center;
        font-size: 150%;
    }

    .wrpTTD {
        width: 100%;
        text-align: center;
    }

    .wrpFont {
        width: 100%;
        text-align: center;
        font-size: 20%;
    }

    table {
  border-collapse: collapse;
}

    th {
  border: 1px solid Black;
  padding: 5px 15px;text-align: center;vertical-align: text-top;
  vertical-align: top;background-color: White;font-size:xx-small
}

/*th {
  border: 1px solid Black;
  padding: 5px 15px;text-align: center;vertical-align: text-top;
  background-color: GrayText; ;vertical-align: top;
}*/

td {
  border: 1px solid Black;
  padding: 5px 15px;text-align: center;vertical-align: text-top;
  vertical-align: top;background-color: White;font-size:xx-small
}

.tdHeadergreen {
  border: 1px solid Black;
  padding: 5px 15px;text-align: center;vertical-align: text-top;
  vertical-align: top;background-color:darkseagreen;;font-size:xx-small
}

.tdHeadergray {
  border: 1px solid Black;
  padding: 5px 15px;text-align: center;vertical-align: text-top;
  vertical-align: top;background-color:gray;;font-size:xx-small
}



.thLeft {
     border: 1px solid Black;
        padding: 5px 15px;text-align: left;vertical-align: text-top;
        vertical-align: top;background-color: White;font-size: xx-small;border-style: solid;
    border-width: 1px;
}

/*thead > tr:nth-child(1) > th:nth-child(1) { background-color: GrayText; text-align: center; }
thead > tr:nth-child(1) > th:nth-child(2) { background-color: GrayText; text-align: center; }
thead > tr:nth-child(1) > th:nth-child(3) { background-color: GrayText;  text-align: center;}
thead > tr:nth-child(1) > th:nth-child(4) { background-color: GrayText; text-align: center; }
thead > tr:nth-child(1) > th:nth-child(5) { background-color: GrayText; text-align: center; }
thead > tr:nth-child(1) > th:nth-child(6) { background-color: GrayText;  text-align: center;}
thead > tr:nth-child(1) > th:nth-child(7) { background-color: GrayText;  text-align: center;}
thead > tr:nth-child(1) > th:nth-child(8) { background-color: GrayText; text-align: center; }
thead > tr:nth-child(2) > th              { background-color: GrayText; text-align: center; }*/

</style>



