@{
    Layout = "~/mcaims/Views/Shared/_LayoutMin.cshtml";
}


<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="row">
            <div class="col-sm-12">
                <div class="text-center error-box">
                    <h2 class="font-xl"><strong>Congratulation</strong></h2>
                    <br>
                    <p class="lead semi-bold">
                        @ViewBag.SuccessMessage
                    </p>
                </div>

            </div>

        </div>

    </div>

</div>