@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ProfessionalPerformancePlanVM

<div class="col-xs-12" style="margin-bottom: 20px">
    @(Html.Kendo().Grid(Model.ProjectOrUnitGoalsDetails)
        .Name("ProjectOrUnitGoalsDetails")
        .Columns(columns =>
        {
            columns.Bound(p => p.ProjectOrUnitGoals);
            columns.Bound(p => p.Category);
            columns.Bound(p => p.IndividualGoalAndPlan);
            columns.Bound(p => p.Weight);
            columns.Bound(p => p.Remarks);
        })
        .DataSource(dataSource => dataSource.Ajax()
                   .Model(model =>
                   {
                       model.Id(p => p.ID);
                   })
        )
    )
</div>
