@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ProfessionalPerformancePlanVM

@{
    ViewBag.Title = "Print Performance Plan";
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}

<div class="form-horizontal">
    <fieldset>
        <legend>Performance Plan</legend>
        <div class="row">
            @Html.Partial("_ProfessionalPerformancePlan_Print", Model)
        </div>
        <legend>Performance Plan Details</legend>
        <div class="row">
            @Html.Partial("_PerformancePlanDetail_Print", Model)
        </div>
        <div class="row">
            @Html.Partial("_PerfromancePlan_Print", Model)
        </div>
    </fieldset>
</div>
