@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model PSAManagementVM

<div class="col-sm-6">
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Documents).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.Documents)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.DocumentType).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.DocumentType)
        </div>
    </div>
</div>
