@using MCAWebAndAPI.Model.ViewModel.Form.HR

@model PSAManagementVM

@{
    ViewBag.Title = "Form Create PSA Management";
}

@using (Html.BeginForm("CreatePSAManagement", "HRPSAManagement", FormMethod.Post,
                                                                 new
                                                                 {
                                                                     @class = "form-horizontal",
                                                                     enctype = "multipart/form-data"
                                                                 }))
{
    <fieldset>
        <legend>PSA Management Data</legend>
        <div class="row">
            @Html.Partial("_PSAManagementData", Model)
        </div>
        <legend>Documents</legend>
        <div class="row">
            @Html.Partial("_DocumentDetails", Model)
        </div>
    </fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-12">
                <button id="submit-button" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    Submit
                </button>
            </div>
        </div>
    </div>
}

    @section scripts{
        <script type="text/javascript">
          
            
            $(document).ready(function () {
                $("#submit-button").click(function () {
                $("form").submit();
            });

        });
       
        function onSuccess(data) {
            window.location.href = data.urlToRedirect;
        }

        function onFailure(data) {
            window.location.href = data.urlToRedirect;
        }
        
        
            function OnSelectAssetHolderFrom(e) {
                var dataItem = this.dataItem(e.item);

                if ($("#IsRenewal_Value").val() == "Yes")
                {

                    var url = "/HRPSAManagement/GetRenewal/" + dataItem.ID;

                    $.getJSON(url, function (result) {

                        var renewalnumber = result[0].RenewalNumber + 1;
                        $('#RenewalNumber').prop('value', renewalnumber);
                        $('#RenewalNumber').prop('readonly', true);
                    })
                }
                
            }

            
            function OnSelectPosition(e) {
                var dataItem = this.dataItem(e.item);
                var urlKeyPosition = "/HRDataMaster/GetKeyPosition/" + dataItem.ID;
                               
                $.getJSON(urlKeyPosition, function (result) {

                    if (result[0].isKeyPosition == "Yes")
                    {
                        $('#KeyPosition').prop('value', "The Position is Key Position");
                        $('#DocumentType_Value').data("kendoDropDownList").enable(false);
                        $('#DocumentType_Value').data("kendoDropDownList").value("MCC No Objection Letter");
                    }
                    else
                    {
                        $('#KeyPosition').prop('value', "The Position is Not Key Position");
                        $('#DocumentType_Value').prop('readonly', "false");
                        $('#DocumentType_Value').prop('readonly', "PSA Document");
                    }
                })
            }

            
            $(document).ready(function () {

                $("#Tenure").on('input', function () {
                    sumCal();
                });

                function sumCal() {

                    var dateOfNewPSA = $("#DateOfNewPSA").val();
                    var dateofnewpsa = new Date(dateOfNewPSA);
                    var monthpsa = dateofnewpsa.getMonth();
                    var monthint = parseInt(monthpsa);
                    var datepsa = dateofnewpsa.getDate();

                    var tenure = $("#Tenure").val();
                    var tenureint = parseInt(tenure);
                    var addtenure = tenureint + monthint;

                    var setmonth = new Date(dateofnewpsa.setMonth(addtenure));

                    var psaexpirydate = setmonth.getMonth() + 1 + '/' + setmonth.getDate() + '/' + setmonth.getFullYear();
                    $("#PSAExpiryDate").val(psaexpirydate);
                }

            });

            
           function isrenewalChanged() {

                if ($("#IsRenewal_Value").prop("value", "No"))
                {
                    
                    $("#RenewalNumber").prop("readonly", "true");
                    $("#RenewalNumber").prop("value", 0);
                }
                    ;
            }
           
                      
        </script>
    }
