@using MCAWebAndAPI.Model.ViewModel.Form.HR

@model PSAManagementVM

@{
    ViewBag.Title = "Form Create PSA Management";
}

@using (Html.BeginForm("CreatePSAManagement", "HRPSAManagement", FormMethod.Post,
                                                                 new
                                                                 {
                                                                     @class = "form-horizontal",
                                                                     enctype = "multipart/form-data"
                                                                 }))
{
    <fieldset>
        <legend>PSA Management Data</legend>
        <div class="row">
            @Html.Partial("_PSAManagementData", Model)
        </div>
        <legend>Documents</legend>
        <div class="row">
            @Html.Partial("_DocumentDetails", Model)
        </div>
    </fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-12">
                <button id="submit-button" class="btn btn-primary" type="button" onclick="checkOverlapping()">
                    <i class="fa fa-save"></i>
                    Submit
                </button>
            </div>
        </div>
    </div>
}

    @section scripts{
        <script type="text/javascript">
          
            function checkOverlapping() {
                var psaRenewalNumber = $("#PSARenewalNumber").val()

                if (psaRenewalNumber != 0) {

                    var dateOfNewPSA = $("#DateOfNewPSA").val();
                    var dateofNewPSADate = new Date(dateOfNewPSA);
                    var psaExpiryDate = $("#PSAExpiryDate").val();
                    var psaExpiryDateDate = new Date(psaExpiryDate);
                    var dateOfNewPSABefore = $("#DateOfNewPSABefore").val();
                    var dateofNewPSABeforeDate = new Date(dateOfNewPSABefore);
                    var psaExpiredDateBefore = $('#ExpireDateBefore').val();
                    var psaExpiryDateBeforeDate = new Date(psaExpiredDateBefore);

                    //Cek Overlapping Date of New PSA
                    if ((dateofNewPSADate > dateofNewPSABeforeDate) && (dateofNewPSADate < psaExpiryDateBeforeDate)) {
                        //Warning overlapping star tdate

                        var confirmationValue = confirm("Date of New PSA for New Contract is less than PSA Expiry Date on last contract");
                        if (confirmationValue == true) {
                            $("form").submit();
                        }
                        if (confirmationValue == false) {

                            return false;
                        }
                    }
                        //Cek Overlapping PSA Expired Date
                    else if ((dateofNewPSADate > dateofNewPSABeforeDate) && (dateofNewPSADate < psaExpiryDateBeforeDate) && (psaExpiryDateDate < psaExpiredDateBeforeDate)) {
                        //Warning overlapping star date dan end date
                        var confirmationValue = confirm("Range date of New Contract is between of last contract")
                        if (confirmationValue == true) {

                            alert("(dateOfNewPSA > dateOfNewPSABefore) && (dateOfNewPSA < psaExpiredDateBefore) && (psaExpiryDate < psaExpiredDateBefore) dan (confirmationValue == true)");

                            $("form").submit();
                        }
                        if (confirmationValue == false) {

                            alert("(dateOfNewPSA > dateOfNewPSABefore) && (dateOfNewPSA < psaExpiredDateBefore) && (psaExpiryDate < psaExpiredDateBefore) dan (confirmationValue == false)");
                            return false;
                        }
                    }
                    else
                    {
                        $("form").submit();
                    }
                }
                else
                {
                    $("form").submit();
                }
            }

        function onSuccess(data) {
            
            window.location.href = data.urlToRedirect;
        }

        function onFailure(data) {
            
            window.location.href = data.urlToRedirect;
        }
        
        
            function OnSelectAssetHolderFrom(e) {
                var dataItem = this.dataItem(e.item);

                var dateOfNewPSA = $("#DateOfNewPSA").val();

                var url = "/HRPSAManagement/GetRenewal/" + dataItem.ID;

                $.getJSON(url, function (result) {

                    if (result.length != 0) {

                        var psaID = result[0].PSAId;
                        var renewalnumber = result[0].PSARenewalNumber + 1;
                        var dateofnewpsabefore = result[0].DateNewPSABefore;
                        var dateofnewpsa = new Date(dateofnewpsabefore);
                        var datenewpsa = dateofnewpsa.getDate();
                        var datenewpsaint = parseInt(datenewpsa);
                        var calcdatenewpsa = datenewpsaint + 1;
                        var setdateofpsa = new Date(dateofnewpsa.setDate(calcdatenewpsa));
                        var datepsa = setdateofpsa.getMonth() + 1 + '/' + setdateofpsa.getDate() + '/' + setdateofpsa.getFullYear();
                        
                        //Kalkulasi Date of New PSA Kontrak Baru, tanggal paling awal adalah expire date kontrak sebelumnya + 1
                        var expirydatebefore = result[0].ExpiryDateBefore
                        var expdate = new Date(expirydatebefore);
                        var dateexpdate = expdate.getDate();
                        var dateexpdateint = parseInt(dateexpdate);
                        var calcexpdate = dateexpdateint + 1;
                        var setexpdate = new Date(expdate.setDate(calcexpdate));
                        var expirydate = setexpdate.getMonth() + 1 + '/' + setexpdate.getDate() + '/' + setexpdate.getFullYear();
                        
                        $('#HidRenewalNumber').prop('value', renewalnumber);
                        $('#ExpiryDateBefore').prop('value', expirydate);
                        $('#ExpireDateBefore').prop('value', result[0].ExpiryDateBefore);
                        
                        $('#PSAId').prop('value', psaID);

                        $("#IsRenewal_Value").data("kendoDropDownList").select(0);
                        $("#IsRenewal_Value").data("kendoDropDownList").readonly();

                        $("#PSARenewalNumber").prop("readonly", "false");
                        $("#PSARenewalNumber").prop("value", renewalnumber);

                        $("#DateOfNewPSA").data("kendoDatePicker").min(datepsa);
                        $("#DateOfNewPSA").prop('value', datepsa);

                        $("#Tenure").prop('value', 0);

                        $("#PSAExpiryDate").prop('value', expirydate);
                        $("#LastWorkingDate").prop('value', expirydate);

                        $("#DateOfNewPSABefore").prop('value', dateofnewpsabefore);

                        $("#ProfessionalMail").prop('value', result[0].ProfessionalMail);

                        
                    }

                    if (result.length == 0)
                    {
                        $("#IsRenewal_Value").data("kendoDropDownList").select(1);
                        $("#IsRenewal_Value").data("kendoDropDownList").readonly();

                        
                        $("#PSARenewalNumber").prop("value", 0);

                        var psarenewalnumber = $("#PSARenewalNumber").data("kendoNumericTextBox");
                        psarenewalnumber.readonly();

                        $('#PSAId').prop('value', 0);

                        var joinDate = $("#JoinDate").val();

                        $("#DateOfNewPSA").data("kendoDatePicker").min(joinDate);
                        $("#DateOfNewPSA").prop("value", joinDate);
                        $("#Tenure").prop('value', 0);
                        $("#PSAExpiryDate").prop('value', joinDate);
                        $("#LastWorkingDate").prop('value', joinDate);
                    }

                })             
            }

            function OnSelectPosition(e) {
                var dataItem = this.dataItem(e.item);
                var urlKeyPosition = "/HRDataMaster/GetKeyPosition/" + dataItem.ID;
                               
                $.getJSON(urlKeyPosition, function (result) {


                    if (result[0].IsKeyPosition == "Yes")
                    {
                        $('#KeyPosition').prop('value', "You must upload file with the file name format: MCC-PSA-MMDDYYYY");
                        $('#DocumentType').prop('value', "MCC No Objection Letter");
                        $('#KeyPositionValue').prop('value', "Yes");
                   
                    }
                    else
                    {
                        $('#KeyPosition').prop('value', "You must upload file with the file name format: PSA-MMDDYYYY");
                        $('#DocumentType').prop('value', "MCC No Objection Letter");
                        $('#KeyPositionValue').prop('value', "No");
                    }
                })

                
            }

            
            $(document).ready(function () {
                $("#Tenure").kendoNumericTextBox({
                    change: onChange,
                    spin: onSpin
                });

                function onChange() {
                    sumCal();
                }

                function onSpin() {
                    sumCal();
                }

                function sumCal() {

                    var dateOfNewPSA = $("#DateOfNewPSA").val();
                    var dateofnewpsa = new Date(dateOfNewPSA);
                    var monthpsa = dateofnewpsa.getMonth();
                    var monthint = parseInt(monthpsa);
                    var datepsa = dateofnewpsa.getDate();
                    var tenure = $("#Tenure").val();
                    var tenureint = parseInt(tenure);
                    var addtenure = tenureint + monthint;
                    var setmonth = new Date(dateofnewpsa.setMonth(addtenure));
                    var psaexpirydate = setmonth.getMonth() + 1 + '/' + setmonth.getDate() + '/' + setmonth.getFullYear();

                    $("#PSAExpiryDate").val(psaexpirydate);
                    $("#LastWorkingDate").val(psaexpirydate);

                    var datepsa = $("#DateOfNewPSA").val();
                    var dateofnewpsabefore = $("#DateOfNewPSABefore").val();
                    var expirydate = $("#DateOfNewPSABefore").val();
                    var expiredatebefore = $("#ExpireDateBefore").val();
                                      
                }

            });

            $(document).ready(function () {
                    function onChange() {

                    if ($("#IsRenewal_Value").val() == "No")
                    {
                        var joinDate = $("#JoinDate").val();

                        $('#DateOfNewPSA').prop('value', joinDate);
                        $("#DateOfNewPSA").data("kendoDatePicker").min(joinDate);
                        $("#PSAExpiryDate").val(joinDate);

                    }
                    
                }

                $("#JoinDate").kendoDatePicker(
                { change: onChange }
                );

            });

            
           function isrenewalChanged() {

               
               if ($("#IsRenewal_Value").val() == "Yes")
                {
                    $("#PSARenewalNumber").prop("readonly", "true");
                    var renewalnumber = $("#HidRenewalNumber").val();
                    $('#PSARenewalNumber').prop('value', renewalnumber);
                    var expirydate = $("#ExpiryDateBefore").val();
                    $("#DateOfNewPSA").data("kendoDatePicker").min(expirydate);
                    $('#PSAExpiryDate').prop('value', expirydate);

                    
                 }
           }

           function onSelectPSA(e) {
                 
               $.each(e.files, function (index, value) {
                                      
                   if ($("#KeyPositionValue").val() == "Yes")
                   {
                       if ((index == 0))
                       {
                           if (value.name.indexOf("MCC") < 0)
                           {
                               alert("You Must Upload MCC Document");
                               e.preventDefault();
                           }
                           if (value.name.indexOf("MCC") >= 0)
                           {
                               $('#DocumentType').prop('value', "MCC No Objection Letter");
                           }
                       }
                       if(index == 1)
                       {
                           if (value.name.indexOf("PSA") < 0)
                           {
                               alert("You Must Upload PSADocument Document");
                               e.preventDefault();
                           }
                           if (value.name.indexOf("PSA") >= 0)
                           {
                               $('#DocumentType').prop('value', "PSA Document");
                           }
                       }
                   }
                   else
                   {
                       if (value.name.indexOf("PSA") < 0) {
                           alert("You Must Upload PSADocument Document");
                           e.preventDefault();
                       }
                       if (value.name.indexOf("PSA") >= 0) {
                           $('#DocumentType').prop('value', "PSA Document");
                       }
                   }
                   
               });
                
           }

                       
        </script>
    }
