@using MCAWebAndAPI.Model.ViewModel.Form.HR

@model PSAManagementVM

@{
    ViewBag.Title = "Form Create PSA Management";
}

@using (Html.BeginForm("CreatePSAManagement", "HRPSAManagement", FormMethod.Post,
                                                                 new
                                                                 {
                                                                     @class = "form-horizontal",
                                                                     enctype = "multipart/form-data"
                                                                 }))
{
    <fieldset>
        <legend>PSA Management Data</legend>
        <div class="row">
            @Html.Partial("_PSAManagementData", Model)
        </div>
        <legend>Documents</legend>
        <div class="row">
            @Html.Partial("_DocumentDetails", Model)
        </div>
    </fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-12">
                <button id="submit-button" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    Submit
                </button>
            </div>
        </div>
    </div>
}

    @section scripts{
        <script type="text/javascript">
          
            
            $(document).ready(function () {
                $("#submit-button").click(function () {
                $("form").submit();
            });

        });

       
        function onSuccess(data) {
            window.location.href = data.urlToRedirect;
        }

        function onFailure(data) {
            window.location.href = data.urlToRedirect;
        }
        
        
            function OnSelectAssetHolderFrom(e) {
                var dataItem = this.dataItem(e.item);

                var dateOfNewPSA = $("#DateOfNewPSA").val();

                if ($("#IsRenewal_Value").val() == "Yes")
                {

                    var url = "/HRPSAManagement/GetRenewal/" + dataItem.ID;

                    $.getJSON(url, function (result) {
                        
                        var renewalnumber = result[0].PSARenewalNumber + 1;

                        console.log("Renewal Number Sebelumnya: " + result[0].PSARenewalNumber);

                        var expirydatebefore = result[0].ExpiryDateBefore
                        var expdate = new Date(expirydatebefore);

                        var dateexpdate = expdate.getDate();
                        var dateexpdateint = parseInt(dateexpdate);

                        var calcexpdate = dateexpdateint + 1;

                        var setexpdate = new Date(expdate.setDate(calcexpdate));
                        var expirydate = setexpdate.getMonth() + 1 + '/' + setexpdate.getDate() + '/' + setexpdate.getFullYear();
                        
                        $('#PSARenewalNumber').prop('value', renewalnumber);
                        $('#HidRenewalNumber').prop('value', renewalnumber);

                        console.log("Hidden Renewal Number Seharusnya: " + $("#HidRenewalNumber").val());

                        $('#PSARenewalNumber').prop('readonly', true);
                        $('#ExpiryDateBefore').prop('value', expirydate);

                        $("#DateOfNewPSA").data("kendoDatePicker").min(expirydate);
                        $('#DateOfNewPSA').prop('value', expirydate);


                        var dateOfNewPSA = $("#DateOfNewPSA").val();
                        var dateofnewpsa = new Date(dateOfNewPSA);
                        var monthpsa = dateofnewpsa.getMonth();
                        var monthint = parseInt(monthpsa);
                        var datepsa = dateofnewpsa.getDate();

                        var tenure = $("#Tenure").val();
                        var tenureint = parseInt(tenure);
                        var addtenure = tenureint + monthint;

                        var setmonth = new Date(dateofnewpsa.setMonth(addtenure));

                        var psaexpirydate = setmonth.getMonth() + 1 + '/' + setmonth.getDate() + '/' + setmonth.getFullYear();
                        $("#PSAExpiryDate").val(psaexpirydate);

                        
                    })
                }
                else
                {
                    $("#PSARenewalNumber").prop("readonly", "true");
                    $("#PSARenewalNumber").prop("value", 0);

                    var joinDate = $("#JoinDate").val();

                    console.log("Join Date: " + joinDate);

                    $('#DateOfNewPSA').prop('value', joinDate);
                    $("#DateOfNewPSA").data("kendoDatePicker").min(joinDate);
                    $("#PSAExpiryDate").val(joinDate);
                }
                             
            }

            function OnSelectPosition(e) {
                var dataItem = this.dataItem(e.item);
                var urlKeyPosition = "/HRDataMaster/GetKeyPosition/" + dataItem.ID;
                               
                $.getJSON(urlKeyPosition, function (result) {

                    if (result[0].isKeyPosition == "Yes")
                    {
                        $('#KeyPosition').prop('value', "You must upload file with format name: MCCNoObjectionLetter-XXXX" + "XXXX is a ordering number such as: 0001");
                        $('#DocumentType').prop('value', "MCC No Objection Letter");
                        $('#KeyPositionValue').prop('value', "Yes");
                   
                    }
                    /*
                    else
                    {
                        $('#KeyPosition').prop('value', "You must upload file with format name: PSADocuments-MMDDYYYY");
                        $('#DocumentType').prop('value', "PSA Document");
                        $('#KeyPositionValue').prop('value', "No");
                    }
                    */
                })

                
            }

            
            $(document).ready(function () {

                $("#Tenure").on('input', function () {
                    sumCal();
                });

                function sumCal() {

                    var dateOfNewPSA = $("#DateOfNewPSA").val();
                    var dateofnewpsa = new Date(dateOfNewPSA);
                    var monthpsa = dateofnewpsa.getMonth();
                    var monthint = parseInt(monthpsa);
                    var datepsa = dateofnewpsa.getDate();

                    var tenure = $("#Tenure").val();
                    var tenureint = parseInt(tenure);
                    var addtenure = tenureint + monthint;

                    var setmonth = new Date(dateofnewpsa.setMonth(addtenure));

                    var psaexpirydate = setmonth.getMonth() + 1 + '/' + setmonth.getDate() + '/' + setmonth.getFullYear();
                    $("#PSAExpiryDate").val(psaexpirydate);
                }

            });

            $(document).ready(function () {

                
                function onChange() {

                    if ($("#IsRenewal_Value").val() == "No")
                    {
                        var joinDate = $("#JoinDate").val();

                        console.log("Join Date: " + joinDate);

                        $('#DateOfNewPSA').prop('value', joinDate);
                        $("#DateOfNewPSA").data("kendoDatePicker").min(joinDate);
                        $("#PSAExpiryDate").val(joinDate);

                    }
                    
                }

                $("#JoinDate").kendoDatePicker(
                { change: onChange }
                );

            });

            
           function isrenewalChanged() {

               if ($("#IsRenewal_Value").val() == "No")
                {
                    
                    $("#PSARenewalNumber").prop("readonly", "true");
                    $("#PSARenewalNumber").prop("value", 0);
                }
                else
                {
                    $("#PSARenewalNumber").prop("readonly", "true");
                    var renewalnumber = $("#HidRenewalNumber").val();
                    $('#PSARenewalNumber').prop('value', renewalnumber);
                    var expirydate = $("#ExpiryDateBefore").val();
                    $("#DateOfNewPSA").data("kendoDatePicker").min(expirydate);
                    $('#PSAExpiryDate').prop('value', expirydate);

                    console.log(renewalnumber);
                    console.log(expirydate);
                 }
           }

           function onSelectPSA(e) {
                 
               //console.log("Upload :: " + getFileInfo(e));
               $.each(e.files, function (index, value) {
                   console.log("Index Document: " + index);
                   console.log("Name: " + value.name);
                   console.log("Size: " + value.size + " bytes");
                   console.log("Extension: " + value.extension);

                   
                   if ($("#KeyPositionValue").val() == "Yes") {
                       if ((index == 0) || (index == 1)) {
                           if (value.name.indexOf("MCCNoObjectionLetter") == null) {
                               //alert(this.name + " is too big!");
                               alert("You Must Upload MCCNoObjectionLetter Document");
                               e.preventDefault();
                           }
                           else {
                               //Hanya Untuk Testing
                               alert("MCCNoObjectionLetter already exist");
                               e.preventDefault();
                           }

                           if (value.name.indexOf("PSADocument") == null) {
                               alert("You Must Upload PSADocument Document");
                               e.preventDefault();
                           }
                           else {
                               alert("PSADocument already exist");
                               e.preventDefault();
                           }
                           /*
                                                      else
                                                      {
                                                          if (value.name.indexOf("MCCNoObjectionLetter") >= 0)
                                                          {
                                                              $('#DocumentType').prop('value', "MCC No Objection Letter");
                                                          }
                           
                                                          if (value.name.indexOf("PSADocuments") >= 0)
                                                          {
                                                              $('#DocumentType').prop('value', "PSA Document");
                                                          }
                                                      }
                                                      */
                       }




                   }
                   else {
                       if (index == 0) {
                           if (value.name.indexOf("PSADocument") == null) {
                               alert("You Must Upload PSADocument Document");
                               e.preventDefault();
                           }
                           else {
                               alert("PSADocument already exist");
                               e.preventDefault();
                           }
                       }
                   }
               });
                
           }

                       
        </script>
    }
