@using MCAWebAndAPI.Model.ViewModel.Form.HR

@model PSAManagementVM

@{
    ViewBag.Title = "Form Edit PSA Management";
}

@using (Ajax.BeginForm("UpdatePSAManagement", "HRPSAManagement", FormMethod.Post, new AjaxOptions
{
    OnBegin = "onBeginForm",
    OnFailure = "onFailureForm",
    OnSuccess = "onSuccessForm",
    OnComplete = "onCompleteForm"
}, new
{
    @class = "form-horizontal"
}))
{


    <fieldset>
        <legend>Edit PSA Management Data</legend>
        <div class="row">
            @Html.Partial("_PSAManagementDataEdit", Model)
        </div>
        
        <legend>Documents</legend>
        <div class="row">
            @Html.Partial("_DocumentDetailsDisplay", Model.DocumentUrl)
        </div>
    </fieldset>

}

    <div class="form-actions">
    <div class="row">
        <div class="col-md-12">
            
            <button id="submit-button" class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i>
                Submit
            </button>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#submit-button").click(function () {
                $("form").submit();
            });
        });

        $('#application-document-button').click(function () {
            parent.postMessage({
                result: "Success", urlToRedirect: "@Model"
            }, "@Model");
        });

        function onSuccess(data) {
            window.location.href = data.urlToRedirect;
        }

        function onFailure(data) {
            window.location.href = data.urlToRedirect;
        }

        function OnSelectAssetHolderFrom(e) {
            var dataItem = this.dataItem(e.item);
            var url = "/HRDataMaster/GetProfessional/" + dataItem.ID;

            $.getJSON(url, function (result) {
                //$('#Professional').prop('value', result[0].Name);
                $('#ProjectOrUnit').prop('value', result[0].Project_Unit);
                $('#Position').prop('value', result[0].Position);
            })

        }

        /*
        function OnSelectPosition(e) {
            var dataItem = this.dataItem(e.item);
            var url = "/HRDataMaster/GetPositions/" + dataItem.ID;
        }
        */

        $(document).ready(function () {

            $("#Tenure").on('input', function () {
                sumCal();
            });

            function sumCal() {

                var dateOfNewPSA = $("#DateOfNewPSA").val();
                var dateofnewpsa = new Date(dateOfNewPSA);
                var monthpsa = dateofnewpsa.getMonth();
                var monthint = parseInt(monthpsa);
                var datepsa = dateofnewpsa.getDate();

                var tenure = $("#Tenure").val();
                var tenureint = parseInt(tenure);
                var addtenure = tenureint + monthint;

                var setmonth = new Date(dateofnewpsa.setMonth(addtenure));

                var psaexpirydate = setmonth.getMonth() + 1 + '/' + setmonth.getDate() + '/' + setmonth.getFullYear();
                $("#PSAExpiryDate").val(psaexpirydate);
            }
        });

        /*
        function isrenewalChanged() {

            if ($("#IsRenewal_Value").prop("value", "No"))
            {

                $("#RenewalNumber").prop("readonly", "true");
                $("#RenewalNumber").prop("value", 0);
            }
            if ($("#IsRenewal_Value").prop("value", "Yes"))
            {
                $("#RenewalNumber").prop("readonly", "null");
            }
            ;
        }
        */
    </script>
}

