@model System.Data.DataTable

<div class="col-sm-12"  >
    @(Html.Kendo().Grid<dynamic>()
          .Name("gridDataView")
          .Columns(columns =>
          {
              foreach (System.Data.DataColumn column in Model.Columns)
              {

                  if (column.DataType.FullName != "System.Double" && column.ColumnName != "Remarks")
                  {
                      columns.Bound(column.ColumnName).HeaderHtmlAttributes(new { style = "overflow: visible; white-space: normal" });

                  }

              }
              columns.Group(group => group
                  .Title("Claim Component")
                  .Columns(info =>
                  {
                      foreach (System.Data.DataColumn column in Model.Columns)
                      {
                          if (column.DataType.FullName == "System.Double")
                          {
                              info.Bound(column.ColumnName).ClientTemplate("#= kendo.toString(" + column.ColumnName + ",'n0') #").
                              HeaderHtmlAttributes(new { style = "overflow: visible; white-space: normal" });

                          }
                      }


                  })
                  );
              //  columns.Bound("Remarks").ClientTemplate("<textarea rows='2' style='text-overflow:ellipsis; display:block; width:99%; height:100%; font-family:Arial; font-size:12px;' readonly='readonly'>#=Remarks#</textarea>");
              columns.Bound("Remarks").ClientTemplate("<span class='onabai'>#=Remarks#</span>");
          })
           .Events(e =>
           {
               e.DataBound("onDataBoundComponentDetails");//"<span class='onabai'>#=Remarks#</span>"
           })
          .DataSource(dataSource => dataSource
              .Ajax()
              .Model(model =>
              {

              })

              .Read(read => read.Action("Read", "HRInsuranceClaim"))

          )
    )


</div>
<script>
    function onDataBoundComponentDetails(e) {
        $("#gridDataView")
            .kendoTooltip({
                filter: ".onabai",
                position: "left",
                width: 300,
                content: function(e) {
                    return e.target.html();
                }
            })};
</script>

<style type="text/css">
   
 .k-grid table {
   table-layout: fixed;
}
     
 .k-grid tbody tr{
    height: 38px;
}

.k-grid tbody tr td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
</style>