@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model IEnumerable<ClaimPaymentDetailVM>

<div class="col-sm-12">
    @(Html.Kendo().Grid(Model)
          .Name("ClaimPaymentDetails")
          .ToolBar(tools => tools.Create().Text("Add New Medical Check Up Claim"))
          .Editable(editable => editable.Mode(GridEditMode.InCell)
              .CreateAt(GridInsertRowPosition.Bottom))
          .Columns(columns =>
          {
              columns.Bound(p => p.Type).ClientTemplate("#= Type.Text #" +
                           "<input type='hidden' name='ClaimPaymentDetails[#= getClaimPaymentDetail(data)#].Type.Text' value='#= Type.Text #' />"
                 )
                 .EditorViewData(new
                 {
                     BindTo = ClaimPaymentDetailVM.GetTypeOptions(),
                 }
                 ).Width(150)
                  .ClientFooterTemplate("Total :");
              columns.Bound(p => p.Currency).ClientTemplate("#= Currency.Text #" +
                           "<input type='hidden' name='ClaimPaymentDetails[#= getClaimPaymentDetail(data)#].Currency.Text' value='#= Currency.Text #' />"
                 )
                 .EditorViewData(new
                 {
                     BindTo = ClaimPaymentDetailVM.GetCurrencyOptions(),
                 }
                 ).Width(100);

              columns.Bound(p => p.Amount).ClientTemplate("#= Amount #" +
                             "<input type='hidden' name='ClaimPaymentDetails[#= getClaimPaymentDetail(data)#].Amount' value='#= Amount #' />"
              ).Width(150)
               .ClientFooterTemplate("#=sum#");
              columns.Bound(p => p.ReceiptDate).ClientTemplate("#= kendo.toString(ReceiptDate, 'MM-dd-yyyy') #" +
                            "<input type='hidden' name='ClaimPaymentDetails[#= getClaimPaymentDetail(data)#].ReceiptDate' value='#= ReceiptDate #' />"
              ).Width(150);
              columns.Bound(p => p.WBS).ClientTemplate("#= WBS #" +
                           "<input type='hidden' name='ClaimPaymentDetails[#= getClaimPaymentDetail(data)#].WBS' value='#= WBS #' />"
              ).Width(150);
              columns.Bound(p => p.GLCode).ClientTemplate("#= GLCode #" +
                           "<input type='hidden' name='ClaimPaymentDetails[#= getClaimPaymentDetail(data)#].GLCode' value='#= GLCode #' />"
              ).Width(150);
              columns.Bound(p => p.Remarks).ClientTemplate("#= Remarks #" +
                           "<input type='hidden' name='ClaimPaymentDetails[#= getClaimPaymentDetail(data)#].Remarks' value='#= Remarks #' />"
              );
              columns.Bound(p => p.ID).Hidden().ClientTemplate("#= ID #" +
                "<input type='hidden' name='ClaimPaymentDetails[#= getClaimPaymentDetail(data)#].ID' value='#= ID #' />"
              );
              columns.Bound(p => p.EditMode).Hidden().ClientTemplate("#= EditMode #" +
                           "<input type='hidden' name='ClaimPaymentDetails[#= getClaimPaymentDetail(data)#].EditMode' value='#= EditMode #' />"
              );
              columns.Command(command => command.Custom("Delete").HtmlAttributes(new { @class = "btn btn-danger" })
                  .Click("onDeleteKendoDetail")).Width(100);

          })
          .Events(e =>
          {
              e.Edit("onEditKendoDetail");
              e.DataBound("onDataBoundClaimPaymentDetails");
          })
          .DataSource(dataSource => dataSource.Ajax()
          .Aggregates(aggregates =>
          {
              aggregates.Add(p => p.Amount).Sum();
          })

              .Model(model =>
              {
                  model.Id(p => p.ID);
                  model.Field(m => m.ReceiptDate).DefaultValue(DateTime.UtcNow);
                  model.Field(m => m.Currency).DefaultValue(ClaimPaymentDetailVM.GetCurrencyDefaultValue());
                  model.Field(m => m.Type).DefaultValue(ClaimPaymentDetailVM.GetTypeDefaultValue());
              })
              .ServerOperation(false)
          )
    )
</div>
<script>
    function getClaimPaymentDetail(dataItem) {
        var data = $("#ClaimPaymentDetails").data("kendoGrid").dataSource.data();
        return data.indexOf(dataItem);
    }

    function onDataBoundClaimPaymentDetails(e) {
        var grid = $("#ClaimPaymentDetails").data("kendoGrid");
        hideDeletedRowKendoDetail(grid);
    }

</script>