@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ViewInsuranceProfessionalVM

@{
    ViewBag.Title = "Print AXA";
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}

<div class="form-horizontal">

    <fieldset>

            @Html.HiddenFor(m => m.URL)
            @Html.HiddenFor(m => m.Email)
        <div class="wrp">&nbsp;</div>
        <div class="wrp">

            REKAP KLAIM ASURANSI KESEHATAN 2016

        </div>
        <div class="wrp">&nbsp;</div>
        <div class="row">
            <div class="col-sm-12">
                @(Html.Kendo().Grid<dynamic>()
                      .Name("gridDataView")
                      .Columns(columns =>
                      {
                          foreach (System.Data.DataColumn column in Model.dtDetails.Columns)
                          {

                              if (column.DataType.FullName != "System.Double" && column.ColumnName != "Remarks")
                              {
                                  columns.Bound(column.ColumnName);
                              }

                          }
                          columns.Group(group => group
                              .Title("Claim Component")
                              .Columns(info =>
                              {
                                  foreach (System.Data.DataColumn column in Model.dtDetails.Columns)
                                  {
                                      if (column.DataType.FullName == "System.Double")
                                      {
                                          info.Bound(column.ColumnName).ClientTemplate("#= kendo.toString(" + column.ColumnName + ",'n0') #");

                                      }
                                  }


                              })
                              );
                          columns.Bound("Remarks");

                      })
                      //.ToolBar(tools => tools.Excel())
                      //.Excel(excel => excel
                      //  .FileName("Products.xlsx")
                      //)
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .Model(model =>
                          {

                          })

                          .Read(read => read.Action("ReadPrintToPDF", "HRInsuranceClaim"))

                      )
                )


            </div>
        </div>

        <div class="col-sm-6">
            <div class="wrp">&nbsp;</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrpTTD">Pengirim,</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrpTTD">Junindar</div>
        </div>
        <div class="col-sm-6">
            <div class="wrp">&nbsp;</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrpTTD">Penerima,</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrpTTD">Randi</div>
        </div>
</fieldset>
</div>

<style type="text/css">
    .wrp {
        width: 100%;
        text-align: center;
        font-size: 150%;
    }

     .wrpTTD {
        width: 100%;
        text-align: center;

    }

       .wrpFont {
        width: 100%;
        text-align: center;
        font-size: 20%;
    }
   
</style>
@*<div class="form-actions">
        <div class="row">
            <div class="col-sm-12">
                <button id="submit-to-axa" class="btn btn-primary">
                    @*<i class="fa fa-save"></i>
                    Back
                </button>
            </div>
        </div>
    </div>
    <script type="text/javascript">


        function functionExport() {
            var dfrd = $.Deferred();
            setTimeout(function () {
                // doing async stuff
                var grid = $("#gridDataView").data("kendoGrid");
                grid.saveAsExcel();
                dfrd.resolve();
            }, 1000);
            return dfrd.promise();
        }



        $(document)
            .ready(function () {


                //$(function () {
                //    functionExport().done(function () {
                //       window.top.location.href = $("#URL").val() + '/Lists/InsuranceClaim/';

                //    });
                //});

            }

            );
    </script>*@


