@model MCAWebAndAPI.Model.ViewModel.Form.Finance.TaxExemptionDataVM

@using (Html.BeginForm("Create", "FINTaxExemptionData", FormMethod.Post,
                                                new
                                                {
                                                    @class = "form-horizontal",
                                                    enctype = "multipart/form-data"
                                                }))
{
<fieldset>
    <legend>Tax Exemption Data</legend>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.TypeOfTax).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.EditorFor(m => m.TypeOfTax)
            </div>
        </div>
        <div id="Result"></div>
       @* @Html.Partial("_Income", Model)*@
    </div>
</fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-12">
                <button id="submit-button" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    Submit
                </button>
                <button id="cancel-button" class="btn btn-default" type="button">
                    Cancel
                </button>
            </div>
        </div>
    </div>
}
@section scripts{
    <script>
        function onSelectTypeOfTax(e) {
            $('#Result').load('@Url.Action("GetTaxIncome", "FINTaxExemptionData")');
        }
    </script>
}
