@using MCAWebAndAPI.Model.ViewModel.Form.Asset

@model AssetScrappingVM

<form class="form-horizontal" method="post" action="/ASSAssetScrapping/Create" id="create-asset-replacement-form">
    <fieldset>
        <legend>Form Asset Replacement</legend>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Header.TransactionType).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Header.TransactionType)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Header.Date).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Header.Date)
                </div>
            </div>
        </div>
    </fieldset>

</form>