@using MCAWebAndAPI.Model.ViewModel.Form.HR
@using MCAWebAndAPI.Model.ViewModel.Control

@model IEnumerable<OrganizationalDetailVM>

<div class="col-sm-12">

    @(Html.Kendo().Grid(Model)
    .Name("OrganizationalDetails")
    .ToolBar(tools => tools.Create().Text("Add New Organization"))
    .Editable(editable => editable.Mode(GridEditMode.InCell)
    .CreateAt(GridInsertRowPosition.Bottom))
    .Columns(columns =>
    {
        columns.Bound(p => p.Project).ClientTemplate("#= Project.Text #" +
                           "<input type='hidden' name='OrganizationalDetails[#= getOrganizationalDetail(data)#].Project' value='#= Project #' />"
                         ).EditorViewData(new
                         {
                             BindTo = OrganizationalDetailVM.GetProjectOptions()
                         });
        columns.Bound(p => p.Position).ClientTemplate("#= Position.Text #" +
                           "<input type='hidden' name='OrganizationalDetails[#= getOrganizationalDetail(data)#].Position' value='#= Position.Value #' />"
                         ).EditorViewData(new
                         {
                             DataTextField = "Text",
                             DataValueField = "Value",
                             ControllerName = "HRDataMaster",
                             ActionName = "GetPositionsGrid"
                         });
        columns.Bound(p => p.Level).ClientTemplate("#= Level #" +
                           "<input type='hidden' name='OrganizationalDetails[#= getOrganizationalDetail(data)#].Level' value='#= Level #' />"
                         );
        columns.Bound(p => p.PSANumber).ClientTemplate("#= PSANumber.Text #" +
                           "<input type='hidden' name='OrganizationalDetails[#= getOrganizationalDetail(data)#].PSANumber' value='#= PSANumber.Value #' />"
                         ).EditorViewData(new
                         {
                             DataTextField = "PSANumber",
                             DataValueField = "ID",
                             ControllerName = "HRPSAManagement",
                             ActionName = "GetPSAs"
                         });
        columns.Bound(p => p.StartDate).ClientTemplate("#= kendo.toString(StartDate, 'd') #" +
                           "<input type='hidden' name='OrganizationalDetails[#= getOrganizationalDetail(data)#].StartDate' value='#= StartDate #' />"
                         );
        columns.Bound(p => p.LastWorkingDay).ClientTemplate("#= kendo.toString(LastWorkingDay, 'd') #" +
                           "<input type='hidden' name='OrganizationalDetails[#= getOrganizationalDetail(data)#].LastWorkingDay' value='#= LastWorkingDay #' />"
                         );
        //columns.Bound(p => p.PSAStatus).ClientTemplate("#= PSAStatus.Text #" +
        //                  "<input type='hidden' name='OrganizationalDetails[#= getOrganizationalDetail(data)#].PSAStatus' value='#= PSAStatus.Value #' />"
        //                ).EditorViewData(new { BindTo = OrganizationalDetailVM.GetPSAStatusOptions() });
        //columns.Bound(p => p.ID).Hidden().ClientTemplate("#= ID #" +
        //  "<input type='hidden' name='OrganizationalDetails[#= getOrganizationalDetail(data)#].ID' value='#= ID #' />"
        //);

        columns.Bound(p => p.EditMode).Hidden().ClientTemplate("#= EditMode #" +
            "<input type='hidden' name='OrganizationalDetails[#= getOrganizationalDetail(data)#].EditMode' value='#= EditMode #' />"
          );

        columns.Command(command => command.Custom("Delete").HtmlAttributes(new { @class = "btn btn-danger" })
            .Click("onDeleteKendoDetail")).Width(100);
    })
    .Events(e =>
    {
        e.Edit("onEditKendoDetail");
        e.DataBound("onDataBoundOrganizationalDetails");
    })
    .DataSource(dataSource => dataSource.Ajax()
                   .Model(model =>
                   {
                       model.Id(p => p.ID);
                       model.Field(m => m.Project).DefaultValue(OrganizationalDetailVM.GetProjectDefaultValue());
                       model.Field(m => m.Position).DefaultValue(AjaxComboBoxVM.GetDefaultValue());
                       model.Field(m => m.PSANumber).DefaultValue(AjaxComboBoxVM.GetDefaultValue());
                       //model.Field(m => m.PSAStatus).DefaultValue(OrganizationalDetailVM.GetPSAStatusDefaultValue());
                       model.Field(m => m.StartDate).DefaultValue(DateTime.UtcNow);
                       model.Field(m => m.LastWorkingDay).DefaultValue(DateTime.UtcNow);
                   })
                   .ServerOperation(false)
     )
    )
</div>

<script>
    function getOrganizationalDetail(dataItem) {
        var data = $("#OrganizationalDetails").data("kendoGrid").dataSource.data();
        return data.indexOf(dataItem);
    }
    function onDataBoundOrganizationalDetails(e) {
        var grid = $("#OrganizationalDetails").data("kendoGrid");
        hideDeletedRowKendoDetail(grid);
    }
</script>
