@using MCAWebAndAPI.Model.ViewModel.Form.Finance
@model OutstandingAdvanceCSVVM

@*
    Wireframe FIN09: Outstanding Advance
*@

@{
    ViewBag.Title = "Outstanding Advance Upload CSV Files";
}

@using (Html.BeginForm("UploadCSV", "FINOutstandingAdvance",
    FormMethod.Post,
    new
    {
        @class = "form-horizontal",
        enctype = "multipart/form-data"
    }))
{
    <fieldset>
        <legend>Outstanding Advance CSV File Upload</legend>
        <div class="row">
            <div class="col-sm-6">
             
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Documents).Class("col-sm-3 control-label")
                    <div class="col-sm-8">
                        @Html.EditorFor(m => m.Documents)
                    </div>
                </div>

            </div>
        </div>
    </fieldset>


    <div class="form-actions">
        <div class="row">
            <div class="col-sm-12">
                <button id="submit-button" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    Submit
                </button>
                <button id="cancel-button" class="btn btn-default" type="button">
                    Cancel
                </button>
            </div>
        </div>
    </div>
}