@using MCAWebAndAPI.Model.ViewModel.Form.Finance
@model IEnumerable<PettyCashTransactionItem>

@*
    FIN15: Petty Cash Statement
*@

@{
    ViewBag.Title = "Petty Cash Statement";
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}

<legend>@ViewBag.Title</legend>
<div class="form-horizontal">
    <div class="row">
        <div class="col-xs-12">
            @(Html.Kendo().Grid(Model)
                .Name("PettyCashStatement")
                .Columns(columns =>
                {
                    columns.Bound(p => p.Date);
                    columns.Bound(p => p.TransactionType);
                    columns.Bound(p => p.TransactionNo);
                    columns.Bound(p => p.Currency.Text).Title("Currency");
                    columns.Bound(p => p.Amount);
                    columns.Bound(p => p.Balance);
                })
                .DataSource(dataSource => dataSource.Ajax()
                .Model(model =>
                {
                    model.Id(p => p.ID);
                })
                )
            )
        </div>

    </div>
</div>