@using MCAWebAndAPI.Model.ViewModel.Form.Asset

@model AssetCheckFormHeaderVM

<form class="form-horizontal" method="post" action="/ASSAssetCheckForm/Edit" id="create-asset-CheckForm-form">
    <fieldset>
        <legend>Asset Check Form</legend>

        <div class="col-md-6">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.CreateDate).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.CreateDate)
                </div>
            </div>
        </div>

        @Html.HiddenFor(m => m.ID, new { Value = Model.ID })
        <div>
            @Html.Partial("_EditDetails", Model.Details)
        </div>
    </fieldset>

    <div>
        <center>
            <input class="k-button k-button-icontext k-grid-add" type="submit" name="save" value="Save" />
            <input class="k-button k-button-icontext k-grid-add" type="submit" name="cancel" value="Cancel" />
        </center>
    </div>
</form>

<script language="javascript">
    var res;
    function onSelectedLocation(e) {
        res = this.dataItem(e.item).split("-")
        //alert("Location ID : " + res[0]);
    }

    $(document).ready(function () {
        window.hello = function () {
            alert("Location ID : " + res[0] + "\nNama Location :" + res[1]);

        }
    });

    function calculate() {
        //alert("Halo");
        $.post('/Branch/Details/' + id, function (result) {
            
        });
    }
</script>