@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ManpowerRequisitionVM


<div class="col-xs-6">
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.TotalYrsOfExperience).Class("col-xs-4 control-label")
        <div class="col-xs-8">
            @Html.DisplayFor(m => m.TotalYrsOfExperience)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.MinimumEducation).Class("col-xs-4 control-label")
        <div class="col-xs-8">
            @Html.DisplayFor(m => m.MinimumEducation)
        </div>
    </div>   
</div>


