@using MCAWebAndAPI.Model.ViewModel.Form.AssignmentAsset


@model AssignmentAssetVM

<div class="row">
    <div class="col-md-6">
        <div class="col-md-6">
            <label for="TransactionType" class="required">Transaction Type</label>  
        </div>
        <div class="col-md-6">            
            @Html.Kendo().TextBoxFor(m=>m.Header.TransactionType).Name("TransactionType").HtmlAttributes(new { style = "width: 100%" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-6">
            <label for="Date" class="required">Date</label>  
        </div>
        <div class="col-md-6">
            @(Html.Kendo().DatePickerFor(m=>m.Header.Date).Name("Date").HtmlAttributes(new { style = "width: 100%" })
            )
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-6">
            <label for="AssetHolder" class="required">Asset Holder</label>  
        </div>
        <div class="col-md-6">
            @Html.Kendo().DropDownList().Name("AssetHolder").HtmlAttributes(new { style = "width: 100%"}).BindTo(Model.Header.AssetHolder )
        </div>
    </div>
</div>

<div class="row">
    @(Html.Kendo().Grid(Model.Items)
        .Name("purchase-order-item-grid")// will be ID        
        .Columns(
           col =>
           {
               col.Bound(m => m.New).Width(200).Title("Tesss");
               col.Bound(m => m.Item).Width(200);
               col.Bound(m => m.OfficeName).Width(300);
               col.Bound(m => m.RoomName);
           }
        )
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .ServerOperation(false)
        )
                           
    )
</div>