@model string

@using MCAWebAndAPI.Web.Resources

<div class="col-md-6">
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m).Class("col-md-4 control-label")
        <div class="col-md-8">
            <span>Click button below to go to Application Document</span>
            <button id="application-document-button"></button>
        </div>
    </div>
</div>

<script>
    $('#application-document-button').click(function () {
        parent.postMessage("Success", @Model );
    });
</script>