@using MCAWebAndAPI.Model.ViewModel.Form.HR
@using MCAWebAndAPI.Web.Helpers

@model IEnumerable<EducationDetailVM>

<div class="col-xs-12">

    @(Html.Kendo().Grid(Model)
    .Name("EducationDetails")
    .Columns(columns =>
    {
        columns.Bound(p => p.University).Width(250);
        columns.Bound(p => p.Subject).Width(250);
        columns.Bound(p => p.YearOfGraduation).ClientTemplate(("#= YearOfGraduation.getFullYear() #")).Width(250);
        columns.Bound(p => p.Remarks);
    })
    .DataSource(dataSource => dataSource.Ajax()
                   .Model(model =>
                   {
                       model.Id(p => p.ID);
                   }))
    )
    
</div>