@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ApplicationDataVM

<div class="col-md-6">
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.SpecializationField).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.SpecializationField)
        </div>
    </div>
</div>
