@using MCAWebAndAPI.Model.ViewModel.Form.HR
@using MCAWebAndAPI.Web.Helpers

@model AdjustmentDataVM

@{
    ViewBag.Title = "Input Adjustment HR";
}

@using (Ajax.BeginForm("CreateAdjustmentData", "HRAdjustment", FormMethod.Post, new AjaxOptions
{
    OnBegin = "onBeginForm",
    OnComplete = "onCompleteForm",
    OnSuccess = "onSuccessFormEmbed",
    OnFailure = "onFailureForm"
}, new
{
    @class = "form-horizontal"
}))

{
    <fieldset>
        <input type="hidden" id="loadpage" value="0">

        <div class="row">
            <div class="form-group" id="ParentDiv">
                @Html.Bootstrap().LabelFor(m => m.periodDate).Class("col-xs-2 control-label")
                <div class="col-xs-2">
                    @Html.EditorFor(m => m.periodDate)
                </div>
            </div>
        </div>

        <legend>Adjustment & OT</legend>
        <div class="row">
            @Html.Partial("_InputAdjustmentDetails", Model.AdjustmentDetails)
        </div>

        <div class="row pull-right">
            <div class="col-sm-12">
                <button id="submit-button" class="btn btn-primary" type="button">
                    <i class="fa fa-save"></i>
                    Save
                </button>
            </div>
            </div>
    </fieldset>
}

@section scripts{

    <script>
        $(document).ready(function () {
            $("#submit-button").click(function (e) {
                var rowgrid = $("#AdjustmentDetails").data("kendoGrid").tbody.find("tr");
                var valdate = true;
                var i = -1;
                rowgrid.each(function (e) {
                    i++;
                    var xprof = $("#Profid" + i).val();
                    var xEdit = $("#Editid" + i).val();
                    var j = -1;
                    rowgrid.each(function (e) {
                        j++;
                        var yprof = $("#Profid" + j).val();
                        var yEdit = $("#Editid" + j).val();
                        if (i !== j) {
                            if (xprof != "undifined" && yprof != "undifined") {
                                if (xEdit != -1) {
                                    if (yEdit != -1) {
                                        if (xprof == yprof) {
                                            valdate = false;
                                            return false;
                                        }
                                    }
                                }
                            }
                        }
                    });
                });

                if (valdate == false) {
                    alert("Cannot input same professional in one date..!!");
                } else {
                    $("form").submit();
                }
            });
        });

        function getProfId(prof) {
            if (prof != null) {
                return prof.Value;
            };
        }

        function getProjUnit(prof) {
            if (prof != null) {
                var proj_unit;
                if (prof.Project_Unit == undefined) {
                    proj_unit = "";
                } else {
                    proj_unit = prof.Project_Unit;
                }
                return proj_unit;
            };
        }

        function getPosition(prof) {
            if (prof != null) {
                var postion;
                if (prof.Position == undefined) {
                    postion = "";
                } else {
                    postion = prof.Position;
                }
                return postion;
            };
        }

        function GetDetailAdjustment(dataItem) {
            var data = $("#AdjustmentDetails").data("kendoGrid").dataSource.data();
            return data.indexOf(dataItem);
        }

        function onDataBoundAdjustmentDetails(e) {
            var grid = $("#AdjustmentDetails").data("kendoGrid");
            hideDeletedRowKendoDetail(grid);
        }

    </script>
}





