@*

Wireframe FIN10: Petty Cash Voucher
    a.k.a.: Petty Cash Payment Voucher
    a.k.a.: Petty Cash Advance Voucher

*@

@model MCAWebAndAPI.Model.ViewModel.Form.Finance.PettyCashPaymentVoucherVM

@{
    ViewBag.Title = "Create Petty Cash Payment Voucher";

}

@using (Html.BeginForm("Create", "FINPettyCashPaymentVoucher", 
    FormMethod.Post,
    new
    {
        @class = "form-horizontal",
        enctype = "multipart/form-data"
    }))
{

    <fieldset>
        <legend>Petty Cash Payment Voucher</legend>
        <div class="row">
            @Html.Partial("_General", Model)
        </div>

    </fieldset>


    <div class="form-actions">
        <div class="row">
            <div class="col-sm-12">

                <button id="submit-button" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    Submit
                </button>

                <button id="cancel-button" class="btn btn-primary" type="reset">
                    Cancel
                </button>
            </div>
        </div>
    </div>

}



@section scripts{
    <script>
        var GREY_COLOR = "#E5E4E2";

       


        $(document).ready(function () {
            SetBaseOnPaidTo($("#PaidTo_Value").data("kendoDropDownList").value());

            $('#AmountPaidInWord').css({ "background-color": GREY_COLOR });
            $('#AmountPaidInWord').attr("readonly", "readonly");

            $('#Fund').css({ "background-color": GREY_COLOR });

            $('#Amount').change(function () {
                var url = '@Url.Action("GetAmountInWords", "FINPettyCashPaymentVoucher")';
                var amount = $('#Amount').val(); // The option selected

                $.ajax({
                    url: url,
                    type: "GET",
                    data: { data: amount },
                    success: function (response) {
                        $('#AmountPaidInWord').val(response);
                    },
                    error: function (response) {
                        $('#AmountPaidInWord').val('Error');
                    }
                });
            });



        });

        var PAIDTO_PROFESSIONAL = "Professional";
        var PAIDTO_VENDOR = "Vendor";

        function onSelectPaidTo(e) {
            var data = this.dataItem(e.item);

            SetBaseOnPaidTo(data);


        }

        function SetBaseOnPaidTo(data) {
            var professionalDropDownList = $("#Professional_Value").data("kendoDropDownList");
            var vendorDropDownList = $("#Vendor_Value").data("kendoDropDownList");

            switch (data) {
                case PAIDTO_PROFESSIONAL:
                    professionalDropDownList.enable(true);

                    vendorDropDownList.options.optionLabel = "";
                    vendorDropDownList.refresh();
                    vendorDropDownList.select(0);
                    vendorDropDownList.enable(false);
                    break;

                case PAIDTO_VENDOR:
                    professionalDropDownList.options.optionLabel = "";
                    professionalDropDownList.refresh();
                    professionalDropDownList.select(0);
                    professionalDropDownList.enable(false);

                    vendorDropDownList.enable(true);
                    break;

                default:
                    professionalDropDownList.enable(false);
                    vendorDropDownList.enable(false);
                    break;
            }

            $('.k-state-disabled').css({ "background-color": GREY_COLOR });
            $('.k-state-default').css({ "background-color": "white" });
        }
    </script>
}