@using MCAWebAndAPI.Model.ViewModel.Form.HR

@model DayOffRequestVM

<div class="col-sm-12">

    @(Html.Kendo().Grid(Model.DayOffRequestDetails)
        .Name("DayOffRequestDetails")
        .ToolBar(tools => tools.Create().Text("Add New Request"))
        .Editable(editable => editable.Mode(GridEditMode.InCell)
        .CreateAt(GridInsertRowPosition.Bottom))
        .Columns(columns =>
        {
            columns.Bound(p => p.DayOffType).ClientTemplate("#= DayOffType.Text #" +
            "<input type='hidden' name='DayOffRequestDetails[#= getDayOffRequestDetail(data)#].DayOffType' value='#= DayOffType #' />"
            )
            .EditorViewData(new
            {
                BindTo = DayOffRequestDetailVM.GetDayOffTypeOptions()
            });
            columns.Bound(p => p.FullHalf).ClientTemplate("#= FullHalf.Text #" +
            "<input type='hidden' name='DayOffRequestDetails[#= getDayOffRequestDetail(data)#].FullHalf.Text' value='#= FullHalf.Text #' />"
            )
            .EditorViewData(new
            {
                BindTo = DayOffRequestDetailVM.GetFullHalfOptions()
            });
            columns.Bound(p => p.RequestStartDate).ClientTemplate("#= kendo.toString(RequestStartDate, 'MM-dd-yyyy') #" +
            "<input type='hidden' name='DayOffRequestDetails[#= getDayOffRequestDetail(data)#].RequestStartDate' value='#= RequestStartDate #' />"
            );
            columns.Bound(p => p.RequestEndDate).ClientTemplate("#= kendo.toString(RequestEndDate, 'MM-dd-yyyy') #" +
            "<input type='hidden' name='DayOffRequestDetails[#= getDayOffRequestDetail(data)#].RequestEndDate' value='#= RequestEndDate #' />"
            );
            columns.Bound(p => p.Remarks).ClientTemplate("#= Remarks #" +
            "<input type='hidden' name='DayOffRequestDetails[#= getDayOffRequestDetail(data)#].Remarks' value='#= Remarks #' />"
            );
            columns.Bound(p => p.ID).Hidden().ClientTemplate("#= ID #" +
            "<input type='hidden' name='DayOffRequestDetails[#= getDayOffRequestDetail(data)#].ID' value='#= ID #' />"
            );

            columns.Bound(p => p.EditMode).Hidden().ClientTemplate("#= EditMode #" +
           "<input type='hidden' name='Details[#= getDayOffRequestDetail(data)#].EditMode' value='#= EditMode #' />"
           );

            columns.Command(command => command.Custom("Delete").HtmlAttributes(new { @class = "btn btn-danger" })
            .Click("onDeleteKendoDetail")).Width(100);
        })
        .Events(e =>
        {
            e.Edit("onEditKendoDetail");
            e.DataBound("onDataBoundDayOffRequestDetails");
        })
        .DataSource(dataSource => dataSource.Ajax()
        .Model(model =>
        {
            model.Id(p => p.ID);
            model.Field(m => m.DayOffType).DefaultValue(DayOffRequestDetailVM.GetDayOffTypeDefaultValue());
            model.Field(m => m.FullHalf).DefaultValue(DayOffRequestDetailVM.GetFullHalfDefaultValue());
        })
        .ServerOperation(false)
        )
    )
</div>

<script>
    function getDayOffRequestDetail(dataItem) {
        var data = $("#DayOffRequestDetails").data("kendoGrid").dataSource.data();
        return data.indexOf(dataItem);
    }

    function onDataBoundDayOffRequestDetails(e) {
        var grid = $("#DayOffRequestDetails").data("kendoGrid");
        hideDeletedRowKendoDetail(grid);
    }
</script>