@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>iframe</title>
</head>
<body>
    <div>
        <iframe width="100%" height="1050" src="https://host.my-epmo.com/ASSAssetTransaction/CreateAssetTransfer" frameborder="0"></iframe>
    </div>
    <script>
        var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
        var eventer = window[eventMethod];
        var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";

        // Listen to message from child window
        eventer(messageEvent, function (e) {
            if (e.data == "Success") {

                setTimeout(function () {
                    location.href = "https://eceos2.sharepoint.com/sites/mca-dev/dev/Lists/AssetTrxDetail";
                }, 1000);
            }
            console.log('parent received message!:  ', e.data);
        }, false);
    </script>
</body>
</html>
