
@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model CompensatoryVM

<div class="col-xs-12">

    @(Html.Kendo().Grid(Model.CompensatoryDetails)
    .Name("CompensatoryDetails")
    .Columns(columns =>
    {
        columns.Bound(p => p.CmpActiv).Width(200);

        columns.Bound(p => p.GetDateStr).ClientTemplate("#= GetDateStr.Text #").Width(200);

        columns.Bound(p => p.GetDayStr).ClientTemplate("#= GetDayStr.Text #").Width(200);

        columns.Bound(p => p.GetStartStr).ClientTemplate("#= GetStartStr.Text #").Width(200);

        columns.Bound(p => p.GetFinishStr).ClientTemplate("#= GetFinishStr.Text #").Width(200);
    })
    .DataSource(dataSource => dataSource.Ajax()
    .Model(model =>
    {
        model.Id(p => p.ID);
    })
    )
    )
</div>
   
