
@using MCAWebAndAPI.Model.ViewModel.Form.HR
@using MCAWebAndAPI.Web.Resources;
@model CompensatoryVM

@{
    ViewBag.Title = "Print Compensatory Request";
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}

<div class="form-horizontal">
    <fieldset>
        <legend>Compensatory Request</legend>
        <div class="row">
            @Html.Partial("_CompensatoryRequest_Print", Model)
        </div>
        <div class="row">
          <p style="margin-top: 40px; margin-bottom: 40px; margin-left: 15px;margin-right: 15px;"> @string.Format(MessageResource.CompensatoryPrintText)</p>
        </div>
        <div class="row">
            @*@Html.Partial("_CompensatoryRequestDetails_Print", Model.CompensatoryDetails)*@
        </div>
    </fieldset>
</div>
<script>
    function getDayName(date) {
        var day = new Array();
        day[0] = "Monday";
        day[1] = "Tuesday";
        day[2] = "Wednesday";
        day[3] = "Thursday";
        day[4] = "Friday";
        day[5] = "Saturday";
        day[6] = "Sunday";

        if (date != null) {
            return day[date.getDay()];
        };
    }
</script>