#main iframe{
    width: 100%;
}

#frame-blocker{
    width: 99%;
    height: 80px;
    background-color: #EAEAEA;
    z-index: 99;
    position: absolute;
}

#wf01 iframe{
    /*height: 900px;*/
}

#wf01 #frame-blocker{
    top: 868px;
}

#wf03 iframe{
    /*height: 1400px;*/
}

#wf03 #frame-blocker{
    top: 1334px;
}

#wfp01 iframe{
    /*height: 800px;*/
}

#wfp01 #frame-blocker{
    top: 735px;
}


#wfp03 iframe{
    /*height: 1600px;*/
}

#wfp03 #frame-blocker{
    top: 1534px;
}