/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */ 

body.smart-style-6 #header, body.smart-style-6 .dropdown-menu>.active>a, body.smart-style-6 .dropdown-menu>.active>a:focus, body.smart-style-6 .dropdown-menu>.active>a:hover, body.smart-style-6 .dropdown-menu>li>a:focus, body.smart-style-6 .dropdown-menu>li>a:hover {
    background: #3D73DB !important;
}

body.smart-style-6 #content {
    margin-left: 3%;
    margin-right: 3%;
}

body.animated.fadeInDown.smart-style-6 #content {
    margin: 0 12% !important;
}

#main{
    padding-bottom: 5px;
    margin: 0;
    min-height:638px;
}

.fadeInDown #main{
    padding-top: 70px;
    background-image: url("/img/laptop.jpg");
    background-size: cover;
}

#header>:first-child{
    width: 0 !important;
}

.k-upload-button{
    margin: 0 !important;
    float: right !important;
}

body.animated.fadeInDown #header{
    height: 100px !important;
}

#header .container{
    display: block !important;
    float: none !important;
    height: inherit !important;
}

#header .container #logo-group{
    height: 100%;
    padding: 5px 0;
    width: 15%;
    display: inline-block;
}

#logo-group img{
    height: inherit !important;
}

#header .container #title-group{
    width: 70%;
    display: inline-block;
}

#header .container #title-group h1{
    color: white;
    text-align: right;
}

form#login-form {
    padding-bottom: 50px;
}


form .row {
    padding-bottom: 25px;
}

.form-horizontal label.control-label {
    padding-top: 10px;
}

form .k-button.k-upload-button {
    left: 5px;
    top: -5px;
    z-index: 1000;
}

span.field-validation-error {
    color: #b94a48;
    font-size: 85%;
    display: block;
}

.smart-form fieldset{
    padding: 30px 10px 30px 40px !important;
}

h1.txt-color-black.login-header-big {
    text-align: left;
    margin-left: 28px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal-loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                 url("/img/ajax-loader.gif")
                 50% 50% 
                 no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal-loading {
    display: block;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #header .container #title-group {
        float: right;
        margin-top: 25px;
        text-align: right;
        width: 68%;
    }

    #header .container #title-group h1{
        font-size: 21px;
    }
 	
}