@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@{
    ViewBag.Title = "Integrated Management System (IMS) - MCA Indonesia";
}

<header id="header">
    <div id="dummy"></div>
    <div class="container">
        <div id="logo-group">
            <img src="~/Images/logo.png" alt="MCA Indonesia">
        </div>
        <div id="title-group">
            <h1>Integrated Management System (IMS) - Millenium Challenge Account Indonesia</h1>
        </div>
    </div>
</header>

<div id="main" role="main">
    <div id="content" class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                <div class="well no-padding">
                    <form action="index.html" id="login-form" class="smart-form client-form">
                        <header>
                            <h1 class="txt-color-grey login-header-big">Welcome to <span class="txt-color-blue">Integrated Management Systems (IMS)</span></h1>
                        </header>
                        <fieldset>
                            <div class="hero">
                                <div class="pull-left login-desc-box-l">
                                    <p>The project management and integrated collaboration systems that help day-to-day needs of MCA-Indonesia.</p><br/>
                                    <p>Plan, manage, and control projects in Project Management Module. Manage organize enterprise’s resources in other back-office modules.</p><br/>
                                    <p>Projects are collaborative efforts, having a centralized place for collaboration and document repository is important.</p>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <div class="well no-padding">
                    <form action="index.html" id="login-form" class="smart-form client-form">
                        <header>
                            <h1>Sign In</h1>
                        </header>

                        <fieldset>
                            <div class="tree smart-form">
                                <ul role="tree">
                                    <li class="parent_li" role="treeitem">
                                        <span id="compact-program-button" title="Login to Compact Program Site">
                                            <i class="fa fa-lg fa-compass"></i>
                                            Compact Program
                                        </span>
                                        <ul role="group">
                                            <li class="parent_li" role="treeitem">
                                                <span id="gp-button" title="Login to Green Prosperity Project Site">
                                                    <i class="fa fa-lg fa-leaf"></i>
                                                    Green Prosperity
                                                </span>
                                            </li>
                                            <li class="parent_li" role="treeitem">
                                                <span id="hn-button" title="Login to Health and Nutrition Project Site">
                                                    <i class="fa fa-lg fa-heartbeat"></i>
                                                    Health and Nutrition
                                                </span>
                                            </li>
                                            <li class="parent_li" role="treeitem">
                                                <span id="pm-button" title="Login to Procurement Modernization Project Site">
                                                    <i class="fa fa-lg fa-cubes"></i>
                                                    Procurement Modernization
                                                </span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            
                        </fieldset>
                    </form>

                </div>



            </div>
        </div>
    </div>
</div>


<footer>

    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <p>
                        The eCEOs, Sdn, Bhd © 2016
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#compact-program-button").click(function () {
                window.location = "https://mcai4.sharepoint.com/sites/ims";
            });
            $("#gp-button").click(function () {
                window.location = "https://mcai4.sharepoint.com/sites/ims/gp";
            });
            $("#hn-button").click(function () {
                window.location = "https://mcai4.sharepoint.com/sites/ims/hn";
            });
            $("#pm-button").click(function () {
                window.location = "https://mcai4.sharepoint.com/sites/ims/pm";
            });

        });
    </script>
}