@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model IEnumerable<EducationDetailVM>

<div class="col-md-12">

    @(Html.Kendo().Grid(Model)
    .Name("EducationDetails")
    .ToolBar(tools => tools.Create().Text("Add New Education"))
    .Editable(editable => editable.Mode(GridEditMode.InCell)
    .CreateAt(GridInsertRowPosition.Bottom))
    .Columns(columns =>
    {
        columns.Bound(p => p.University).ClientTemplate("#= University #" +
                           "<input type='hidden' name='EducationDetails[#= getEducationDetail(data)#].University' value='#= University #' />"
                         );
        columns.Bound(p => p.Subject).ClientTemplate("#= Subject #" +
                           "<input type='hidden' name='EducationDetails[#= getEducationDetail(data)#].Subject' value='#= Subject #' />"
                         );
        columns.Bound(p => p.YearOfGraduation).ClientTemplate("#= YearOfGraduation.getFullYear() #" +
                           "<input type='hidden' name='EducationDetails[#= getEducationDetail(data)#].YearOfGraduation' value='#= YearOfGraduation #' />"
                         );
        columns.Bound(p => p.Remarks).ClientTemplate("#= Remarks #" +
                           "<input type='hidden' name='EducationDetails[#= getEducationDetail(data)#].Remarks' value='#= Remarks #' />"
                         );
        columns.Bound(p => p.ID).Hidden().ClientTemplate("#= ID #" +
          "<input type='hidden' name='EducationDetails[#= getEducationDetail(data)#].ID' value='#= ID #' />"
        );

        columns.Bound(p => p.EditMode).Width(100)
        .ClientTemplate("<button id='EducationDetails[#= getEducationDetail(data)#].DeleteButton'" +
        "class='btn btn-danger' type='button'" +
        "onclick='onDeleteKendoDetail(event)'>Delete</button>" +
        "<input type='hidden' name='EducationDetails[#= getEducationDetail(data)#].EditMode' value='#= EditMode #'/>");

    })
    .Events(e =>
    {
        e.Edit("onEditKendoDetail");
    })
    .DataSource(dataSource => dataSource.Ajax()
                   .Model(model =>
                   {
                       model.Id(p => p.ID);
                       model.Field(e => e.YearOfGraduation).DefaultValue(DateTime.Now.AddYears(-5));
                   })
                   .ServerOperation(false)
     )
    )
</div>

<script>
    function getEducationDetail(dataItem) {
        var data = $("#EducationDetails").data("kendoGrid").dataSource.data();
        return data.indexOf(dataItem);
    }
</script>
