<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    @Styles.Render("~/Content/kendo")

    <script src="~/Scripts/libs/jquery.min.js"></script>
    @Scripts.Render("~/bundles/kendo")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
