<div class="col-md-12-offset-2">
    <img class="img-responsive center-block" src="/img/logo.png" alt="company logo" width="100" />
</div>
<div class="col-md-12-offset-4">
    <h3 class="text-center" style="margin-bottom:2px">MCA - INDONESIA</h3>
    <h4 class="text-center">@ViewBag.SubTitle</h4>
</div>