@using MCAWebAndAPI.Model.ViewModel.Form.Common
@using MCAWebAndAPI.Model.ViewModel.Control

@model WorkflowRouterVM

<div class="col-sm-12">
    @(Html.Kendo().Grid<WorkflowItemVM>()
        .Name("WorkflowDetails")
        .Editable(editable => editable.Mode(GridEditMode.InLine))
        .Columns(columns =>
        {
            columns.Bound(p => p.ID).Hidden();
            columns.Bound(p => p.Level).Width(150);
            columns.Bound(p => p.ApproverUnit).ClientTemplate("#=  ApproverUnit.Text #").Width(350)
            .EditorViewData(
            new
            {
                BindTo = WorkflowItemVM.GetUnitOptions()
            });
            columns.Bound(p => p.ApproverPosition).Width(300).ClientTemplate("#= ApproverPosition.Text #")
            .EditorViewData(
            new
            {
                DataTextField = "PositionName",
                DataValueField = "ID",
                ActionName = "GetApproverPositions",
                ControllerName = "Workflow",
                Filter = "filterApproverPosition",
                Cascade = "ApproverUnit"
            });
            columns.Bound(p => p.ApproverUserName).Width(400).ClientTemplate("#= ApproverUserName.Text #")
            .EditorViewData(
            new
            {
                DataTextField = "Name",
                DataValueField = "ID",
                ActionName = "GetApproverNames",
                ControllerName = "Workflow",
                Filter = "filterApproverName",
                Cascade = "ApproverPosition_Value"
            });
            columns.Command(p => p.Edit().Text("Edit").HtmlAttributes(new { @title = "Edit" })).Width(220);
        })
        .DataSource(
            dataSource =>
            dataSource.Ajax()
            .Batch(true)
            .Model(model =>
            {
                model.Id(p => p.ID);
                model.Field(p => p.ID).DefaultValue(999);
                model.Field(p => p.ApproverUnit).DefaultValue(WorkflowItemVM.GetUnitDefaultValue());
                model.Field(m => m.ApproverPosition).DefaultValue(AjaxComboBoxVM.GetDefaultValue());
                model.Field(m => m.ApproverUserName).DefaultValue(AjaxComboBoxVM.GetDefaultValue());
                model.Field(p => p.Level).Editable(false);
            })
        .Read(read => read.Action("Grid_Read", "Workflow"))
        .Update(update => update.Action("Grid_Update", "Workflow"))
        )
    )
</div>

<script>

    function filterApproverPosition(e) {
        return {
            approverUnit: $("#ApproverUnit").data("kendoDropDownList").value()
        };
    }

    function filterApproverName(e) {
        return {
            position: $("#ApproverPosition_Value").data("kendoDropDownList").value()
        };
    }

</script>