@using MCAWebAndAPI.Model.ViewModel.Form.Common
@using MCAWebAndAPI.Model.ViewModel.Control

@model WorkflowRouterVM

<div class="col-sm-12">
    @(Html.Kendo().Grid<WorkflowItemVM>
        ()
        .Name("WorkflowDetails")
        .Editable(editable => editable.Mode(GridEditMode.InCell))
        .Columns(columns =>
        {
            columns.Bound(p => p.Level).Width(150);
            columns.Bound(p => p.ApproverUnit).ClientTemplate("#=  ApproverUnit.Text #").Width(350)
            .EditorViewData(
            new
            {
                BindTo = WorkflowItemVM.GetUnitOptions()
            });
            columns.Bound(p => p.ApproverPosition).Width(300).EditorViewData(
            new
            {
                DataTextField = "PositionName",
                DataValueField = "PositionName",
                ActionName = "GetApproverPositions",
                ControllerName = "Workflow",
                Filter = "filterApproverPosition",
                Cascade = "ApproverUnit_Value"
            });
            columns.Bound(p => p.ApproverUserName).Width(400).EditorViewData(
            new
            {
                DataTextField = "Name",
                DataValueField = "UserLogin",
                ActionName = "GetApproverNames",
                ControllerName = "Workflow",
                Filter = "filterApproverName",
                Cascade = "ApproverPosition_Value"
            });
        })
        .DataSource(
        dataSource =>
        dataSource.Ajax().Model(model =>
        {
            model.Id(p => p.ID);
            model.Field(p => p.ApproverUnit).DefaultValue(WorkflowItemVM.GetUnitDefaultValue());
            model.Field(m => m.ApproverPosition).DefaultValue(AjaxComboBoxVM.GetDefaultValue());
            model.Field(m => m.ApproverUserName).DefaultValue(AjaxComboBoxVM.GetDefaultValue());
            model.Field(p => p.Level).Editable(false);
        }).ServerOperation(true)
        .Read(read => read.Action("Grid_Read", "Workflow"))
        .Update(update => update.Action("Grid_Update", "Workflow"))
        )
        )

</div>

<script>
    function filterApproverPosition() {
        var listName = '@Model.ListName';
        var requestorPosition = '@Model.RequestorPosition';
        var requestorUnit = $("#ApproverUnit_Value").data("kendoDropDownList").value();

        return {
            listName,
            requestorPosition,
            requestorUnit
        };
    }

    function filterApproverName(e) {
        return {
            position:  $("#ApproverPosition_Value").data("kendoDropDownList").value()
        };
    }

</script>