@using MCAWebAndAPI.Model.ViewModel.Form.Asset

@model AssetLandingPageVM

<form class="form-horizontal" method="post" action="/ASSAssetFixedAsset/Create" id="create-asset-FixedAsset-form">
    <fieldset>
        <div>
            @Html.Partial("FixedAsset", Model.FixedAsset)
        </div>
        <div>
            @Html.Partial("SmallValueAsset", Model.SmallValueAsset)
        </div>
</fieldset>
</form>
