@using MCAWebAndAPI.Model.ViewModel.Form.Asset
@model IEnumerable<AssetLandingPageFixedAssetVM>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<form class="form-horizontal" method="post" action="/ASSAssetFixedAsset/Create" id="create-asset-FixedAsset-form">
    <fieldset>
        <legend>Small Value Asset</legend>
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-sm-4">
                    <table class="table table-bordered">
                        <thead>
                        <td colspan="3" align="center" bgcolor="blue" style="color:white;">@item.A</td>
                        <tr align="center">
                            <td>Total Asset</td>
                            <td>Value (IDR)</td>
                            <td>Value (USD)</td>
                        </tr>
                        </thead>
                        <tbody>
                            <tr align="center">
                                <td> @item.B </td>
                                <td> @item.C </td>
                                <td> @item.D </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </fieldset>
</form>
