@using MCAWebAndAPI.Model.ViewModel.Form.Asset
@model IEnumerable<AssignmentofAssetDetailVM>

<div class="col-sm-12">

    @(Html.Kendo().Grid(Model)
        .Name("Details")
        .ToolBar(tools => tools.Create().Text("Add New Recurd"))
        .Editable(editable => editable.Mode(GridEditMode.InCell)
        .CreateAt(GridInsertRowPosition.Bottom))
        .Columns(columns =>
        {

            columns.Bound(p => p.AssetSubAsset).ClientTemplate("#= AssetSubAsset #" +
           "<input type='hidden' name='Details[#= getMonthlyFeeDetail(data)#].AssetSubAsset' value='#= AssetSubAsset #' />"
           );

            //columns.Bound(p => p.Province).ClientTemplate("#= Province #" +
            //"<input type='hidden' name='AssignmentofAssetItem[#= getAssignmentofAssetItem(data)#].Province' value='#= Province #' />"
            //);

            //columns.Bound(p => p.Office).ClientTemplate("#= Office #" +
            //"<input type='hidden' name='AssignmentofAssetItem[#= getAssignmentofAssetItem(data)#].Office' value='#= Office #' />"
            //);

            //columns.Bound(p => p.Floor).ClientTemplate("#= Floor #" +
            //"<input type='hidden' name='AssignmentofAssetItem[#= getAssignmentofAssetItem(data)#].Floor' value='#= Floor #' />"
            //);

            //columns.Bound(p => p.Room).ClientTemplate("#= Room #" +
            //"<input type='hidden' name='AssignmentofAssetItem[#= getAssignmentofAssetItem(data)#].Room' value='#= Room #' />"
            //);

            //columns.Bound(p => p.Remarks).ClientTemplate("#= Remarks #" +
            //"<input type='hidden' name='AssignmentofAssetItem[#= getAssignmentofAssetItem(data)#].Remarks' value='#= Remarks #' />"
            //);

            //columns.Bound(p => p.Status).ClientTemplate("#= Status #" +
            //"<input type='hidden' name='AssignmentofAssetItem[#= getAssignmentofAssetItem(data)#].Status' value='#= Status #' />"
            //);

            //columns.Bound(p => p.Id).Hidden().ClientTemplate("#= Id #" +
            //"<input type='hidden' name='AssignmentofAssetItem[#= getAssignmentofAssetItem(data)#].Id' value='#= Id #' />"
            //);
        })
        .Events(e =>
        {
            e.Edit("onEditKendoDetail");
            e.DataBound("onDataBoundMonthlyFeeDetails");
        })
        .DataSource(dataSource => dataSource.Ajax()
        .Model(model =>
        {
            model.Id(p => p.ID);
           
            model.Field(m => m.AssetSubAsset);

        })
        .ServerOperation(false)
        )
    )
</div>

<script>
    function getMonthlyFeeDetail(dataItem) {
        var data = $("#Details").data("kendoGrid").dataSource.data();
       // dataItem.set('AssetSubAsset', dataItem.AssetSubAsset);
        return data.indexOf(dataItem);
    }

    function onDataBoundMonthlyFeeDetails(e) {
        var grid = $("#Details").data("kendoGrid");
        hideDeletedRowKendoDetail(grid);
    }
</script>

