@using MCAWebAndAPI.Model.ViewModel.Form.Asset
@using MCAWebAndAPI.Model.ViewModel.Form.HR;



@model IEnumerable<AssignmentofAssetDetailVM>

@{
    var index = 0;
}

<div class="col-md-12" style="margin-bottom: 20px">

    @(Html.Kendo().Grid(Model)
        .Name("Details")
        .ToolBar(tools => tools.Create().Text("Add New"))
        .Editable(editable => editable.Mode(GridEditMode.InCell)
        .CreateAt(GridInsertRowPosition.Bottom))
        .Columns(columns =>
        {
            columns.Bound(p => p.AssetSubAsset).ClientTemplate("#= AssetSubAsset.Text #" +
                          "<input type='hidden' name='Details[#= getWorkingRelationshipDetails(data)#].AssetSubAsset.Value' value='#= AssetSubAsset.Value #' />"
                        ).EditorViewData(new
                        {
                            DataTextField = "Text",
                            DataValueField = "Value",
                            ControllerName = "ASSAssignmentofAsset",
                            ActionName = "GetAssetSubSAssetGrid"
                        });

            columns.Bound(p => p.Province).ClientTemplate("#= Province.Text #" +
                          "<input type='hidden' name='Details[#= getWorkingRelationshipDetails(data)#].Province.Value' value='#= Province.Value #' />"
                        ).EditorViewData(new
                        {
                            DataTextField = "Text",
                            DataValueField = "Value",
                            ControllerName = "ASSAssignmentofAsset",
                            ActionName = "GetLocationMaster"
                        });

            columns.Bound(p => p.Office).ClientTemplate("#= Office.Text #" +
                        "<input type='hidden' name='Details[#= getWorkingRelationshipDetails(data)#].Office.Value' value='#= Office.Value #' />"
                        ).EditorViewData(new
                        {
                            DataTextField = "Text",
                            DataValueField = "Value",
                            ControllerName = "ASSAssignmentofAsset",
                            ActionName = "GetOfficeGrid"
                        });

            columns.Bound(p => p.Floor).ClientTemplate("#= Floor.Text #" +
                        "<input type='hidden' name='Details[#= getWorkingRelationshipDetails(data)#].Floor.Value' value='#= Floor.Value #' />"
                        ).EditorViewData(new
                        {
                            DataTextField = "Text",
                            DataValueField = "Value",
                            ControllerName = "ASSAssignmentofAsset",
                            ActionName = "GetFloorGrid"
                        });

            columns.Bound(p => p.Room).ClientTemplate("#= Room.Text #" +
                        "<input type='hidden' name='Details[#= getWorkingRelationshipDetails(data)#].Room.Value' value='#= Room.Value #' />"
                        ).EditorViewData(new
                        {
                            DataTextField = "Text",
                            DataValueField = "Value",
                            ControllerName = "ASSAssignmentofAsset",
                            ActionName = "GetRoomGrid"
                        });

            columns.Bound(p => p.Remarks).ClientTemplate("#= Remarks #" +
                        "<input type='hidden' name='Details[#= getWorkingRelationshipDetails(data)#].Remarks' value='#= Remarks #' />"
                        ).EditorViewData(new
                        {
                            DataTextField = "Text",
                            DataValueField = "Value",
                            ControllerName = "ASSAssignmentofAsset",
                            ActionName = "GetRemarkGrid"
                        });

            columns.Bound(p => p.Status).ClientTemplate("#= Status #" +
            "<input type='hidden' name='Details[#= getWorkingRelationshipDetails(data)#].Status' value='#= Status #' />"
            );

            columns.Bound(p => p.ID).Hidden().ClientTemplate("#= ID #" +
          "<input type='hidden' name=Details[#= getWorkingRelationshipDetails(data)#].ID value=#= ID # />"


        );
            columns.Bound(p => p.EditMode).Hidden()
         .ClientTemplate("#= EditMode #<input type='hidden' name='Details[#= getWorkingRelationshipDetails(data)#].EditMode' value='#= EditMode #' />");
            columns.Command(command => command.Custom("Delete").HtmlAttributes(new { @class = "btn btn-danger" })
            .Click("onDeleteKendoDetail")).Width(100);
        })
        .Events(e =>
        {
            e.Edit("onCustomEditKendoDetail");
            e.DataBound("onDataBoundWorkingRelationship");
        })
        .DataSource(dataSource => dataSource.Ajax()
                   .Model(model =>
                   {
                       model.Id(p => p.ID);
                       model.Field(m => m.AssetSubAsset).DefaultValue(AssignmentofAssetDetailVM.GetAssetSubAssetDefaultValue());
                       model.Field(m => m.Province).DefaultValue(AssignmentofAssetDetailVM.GetProvinceDefaultValue());
                       model.Field(m => m.Office).DefaultValue(AssignmentofAssetDetailVM.GetOfficeDefaultValue());
                       model.Field(m => m.Floor).DefaultValue(AssignmentofAssetDetailVM.GetFloorDefaultValue());
                       model.Field(m => m.Room).DefaultValue(AssignmentofAssetDetailVM.GetRoomDefaultValue());
                   })
                   .ServerOperation(false)
        )
    )
</div>

<script>
    function getWorkingRelationshipDetails(dataItem) {
        var data = $("#Details").data("kendoGrid").dataSource.data();
        //data.set('AssetSubAsset', data.AssetSubAsset);
        return data.indexOf(dataItem);
    }

    function onCustomEditKendoDetail(e) {
        if (!e.model.isNew()) {
            var container = e.container;
            var tr = container.closest('tr');
            var data = this.dataItem(tr); //get the row data so it can be referred later
            // 1 is Item.Mode.UPDATED
            data.set("EditMode", 1);
        }
        if (isCustomAdd && e.model.isNew()) {
            isCustomAdd = false;
            $(e.container).find("[name='Details']").val(customRowDataItem.Details).change();
        }
    }
    function onDataBoundWorkingRelationship(e) {
        var grid = $("#Details").data("kendoGrid");
        hideDeletedRowKendoDetail(grid);
    }
</script>
