
@using MCAWebAndAPI.Model.ViewModel.Form.Asset
@model AssignmentOfAssetVM

@{
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}

<div class="form-horizontal">
    <fieldset>
        <div class="row">
            @Html.Partial("_print", Model)
        </div>
    </fieldset>
    @Html.HiddenFor(m => m.nameOnly)
    @Html.HiddenFor(m => m.AssetIDs)
</div>