@using MCAWebAndAPI.Model.ViewModel.Form.Asset



@model IEnumerable<AssetTransferDetailVM>

@{
    var index = 0;
}

<div class="col-md-12" style="margin-bottom: 20px">
    @(Html.Kendo().Grid(Model)
                        .Name("Details")
                        .Editable(editable => editable.Mode(GridEditMode.InCell)
                        .CreateAt(GridInsertRowPosition.Bottom))
                        .Columns(columns =>
                        {

                            columns.Bound(p => p.textasset).HtmlAttributes(new { @class = "textasset" }).ClientTemplate("#= textasset #" +
            "<input type='hidden' name='Details[#= getWorkingRelationshipDetails(data)#].textasset' value='#= textasset #' />"
            );

                            columns.Bound(p => p.description).HtmlAttributes(new { @class = "description" }).ClientTemplate("#= description #" +
            "<input type='hidden' name='Details[#= getWorkingRelationshipDetails(data)#].description' value='#= description #' />"
            );

                            columns.Bound(p => p.quantity).HtmlAttributes(new { @class = "quantity" }).ClientTemplate("#= quantity #" +
            "<input type='hidden' name='Details[#= getWorkingRelationshipDetails(data)#].quantity' value='#= quantity #' />"
            );

                            columns.Bound(p => p.ID).Hidden().ClientTemplate("#= ID #" +
              "<input type='hidden' name=Details[#= getWorkingRelationshipDetails(data)#].ID value=#= ID # />"


            );
                            columns.Bound(p => p.EditMode).Hidden()
                                     .ClientTemplate("#= EditMode #<input type='hidden' name='Details[#= getWorkingRelationshipDetails(data)#].EditMode' value='#= EditMode #' />");
                        })
        .Events(e =>
        {
            e.Edit("onCustomEditKendoDetail");
            e.DataBound("onDataBoundWorkingRelationship");
        })
        .DataSource(dataSource => dataSource.Ajax()
                   .Model(model =>
                   {
                       model.Id(p => p.ID);
                       model.Field(m => m.textasset).Editable(false);
                       model.Field(m => m.description).Editable(false);
                       model.Field(m => m.quantity).Editable(false);

                   })
                   .ServerOperation(false)
        )
    )
</div>
