@model Boolean

<div class="checkbox">

        @(Html.Kendo().CheckBoxFor(m => m)
       .HtmlAttributes(new
       {
           @class = "checkbox style-0 form-control",
           style = "width:100%;"
       })
      .Checked(Model)
        )
    
</div>

@Html.ValidationMessageFor(model => model)