@using MCAWebAndAPI.Model.ViewModel.Form.Finance
@model IEnumerable<SCAVoucherItemsVM>
@*
    Wireframe FIN06: SCA Voucher
    i.e.: Special Cash Advance Voucher
*@


<div class="col-xs-12">
    @(Html.Kendo().Grid(Model)
    .Name("EventBudgetDetail")
    .Columns(columns =>
    {
        columns.Bound(p => p.WBS).ClientTemplate("#= WBS #" + "<input type='hidden' name='SCAVoucherItems[#= getItem(data)#].WBSID' value='#= WBSID #' />");
        columns.Bound(p => p.GL).ClientTemplate("#= GL #" + "<input type='hidden' name='SCAVoucherItems[#= getItem(data)#].GLID' value='#= GLID #' />");
        columns.Bound(p => p.Amount).ClientTemplate("#=kendo.toString(Amount,'n0')#" + "<input type='hidden' name='SCAVoucherItems[#= getItem(data)#].Amount' value='#= Amount #' />");

    })
    .DataSource(dataSource => dataSource.Ajax()
        .Model(model =>
        {
            model.Id(p => p.ID);
        })
        .Read(read => read.Action("GetDisplayEventBudgetItem", "FINSCAVoucher").Data("filterEventBudgetNo"))
        )
    )
</div>


<script>
    function getItem(dataItem) {
        var data = $("#EventBudgetDetail").data("kendoGrid").dataSource.data();
        return data.indexOf(dataItem);
    }
</script>