@using MCAWebAndAPI.Model.ViewModel.Form.Finance
@model SCAVoucherVM

<div class="col-xs-12">
    @(Html.Kendo().Grid(Model.SCAVoucherItems)
    .Name("EventBudgetDetail")
    .Columns(columns =>
    {
        columns.Bound(p => p.WBS);
        columns.Bound(p => p.GL);
        columns.Bound(p => p.Amount);

    })
    .DataSource(dataSource => dataSource.Ajax()
        .Model(model =>
        {
            model.Id(p => p.ID);
        })
        .Read(read => read.Action("GetEventBudgetItem", "FINSCAVoucher").Data("filterEventBudgetNo"))
        )
    )
</div>