@*
    Wireframe FIN06: SCA Voucher
    i.e.: Special Cash Advance Voucher
*@


<div class="col-md-12-offset-2">
    <img class="img-responsive center-block"  src="{XIMGPATHX}" alt="company logo" width="100" />
</div>
<div class="col-md-12-offset-4">
    <h4 class="text-center" style="margin-bottom:2px"><strong>MCA- INDONESIA</strong></h4>
    <h4 class="text-center"><strong>@ViewBag.SubTitle</strong></h4>
</div>