@{
    Layout = "~/Views/Shared/_LayoutBI.cshtml";
}

<div id="wfp01">
    <iframe src="https://app.powerbi.com/view?r=eyJrIjoiOGI1ZmRiZDQtOGRiYi00YzYwLWFmMDItY2JjODkzMjhiMTE2IiwidCI6ImJiYmQ1ZWI2LTE2YzctNGZjYy05MWJmLWViNGE3NTcyZDA2ZCIsImMiOjEwfQ%3D%3D"
            frameborder="0"
            allowFullScreen="true"></iframe>
    <div id="frame-blocker"></div>
</div>