@using MCAWebAndAPI.Model.ViewModel.Form.Finance
@model IEnumerable<EventBudgetItemVM>

<div class="col-xs-12">
    @(Html.Kendo().Grid(Model)
    .Name("ItemDetails")
    .Editable(editable => editable.Mode(GridEditMode.InCell)
    .CreateAt(GridInsertRowPosition.Bottom))
    .ToolBar(tools => tools.Create().Text("Add New Item"))
    .Columns(columns =>
    {



        columns.Bound(p => p.TypeOfExpense).ClientTemplate("#= TypeOfExpense #" +
            "<input type='hidden' name='ItemDetails[#= getEventBudgetDetail(data)#].TypeOfExpense' value='#= TypeOfExpense #' />");

        columns.Bound(p => p.Description).ClientTemplate("#= Description #" +
            "<input type='hidden' name='ItemDetails[#= getEventBudgetDetail(data)#].Description' value='#= Description #' />");

        columns.Bound(p => p.WBS).ClientTemplate("#= WBS.Text #" +
                         "<input type='hidden' name='ItemDetails[#= getEventBudgetDetail(data)#].WBS.Value' value='#= WBS.Value #' />"
                       )
                       .EditorViewData(new
                       {
                           DataTextField = "Text",
                           DataValueField = "Value",
                           ControllerName = "FINRequisitionNote",
                           ActionName = "GetWBSMaster"
                       });

        columns.Bound(p => p.GL).ClientTemplate("#= GL.Text #" +
                         "<input type='hidden' name='ItemDetails[#= getEventBudgetDetail(data)#].GL.Value' value='#= GL.Value #' />"
                       )
                       .EditorViewData(new
                       {
                           DataTextField = "Text",
                           DataValueField = "Value",
                           ControllerName = "FINRequisitionNote",
                           ActionName = "GetGLMaster"
                       });

        columns.Bound(p => p.Quantity).ClientTemplate("#= Quantity #" +
         "<input type='hidden' name='ItemDetails[#= getEventBudgetDetail(data)#].Quantity' value='#= Quantity #' />");

        columns.Bound(p => p.UoMQty).ClientTemplate("#= UoMQty #" +
            "<input type='hidden' name='ItemDetails[#= getEventBudgetDetail(data)#].UoMQty' value='#= UoMQty #' />");

        columns.Bound(p => p.Frequency).ClientTemplate("#= Frequency #" +
           "<input type='hidden' name='ItemDetails[#= getEventBudgetDetail(data)#].Frequency' value='#= Frequency #' />");

        columns.Bound(p => p.UoMFreq).ClientTemplate("#= UoMFreq #" +
          "<input type='hidden' name='ItemDetails[#= getEventBudgetDetail(data)#].UoMFreq' value='#= UoMFreq #' />");

        columns.Bound(p => p.UnitPrice).ClientTemplate("#= UnitPrice #" +
            "<input type='hidden' name='ItemDetails[#= getEventBudgetDetail(data)#].UnitPrice' value='#= UnitPrice #' />");

        columns.Bound(p => p.AmountPerItem).ClientTemplate("#= AmountPerItem #" +
            "<input type='hidden' name='ItemDetails[#= getEventBudgetDetail(data)#].AmountPerItem' value='#= AmountPerItem #' />");

        columns.Bound(p => p.DirectPayment).ClientTemplate("#= DirectPayment #" +
            "<input type='hidden' name='ItemDetails[#= getEventBudgetDetail(data)#].DirectPayment' value='#= DirectPayment #' />");

        columns.Bound(p => p.SCA).ClientTemplate("#= SCA #" +
            "<input type='hidden' name='ItemDetails[#= getEventBudgetDetail(data)#].SCA' value='#= SCA #' />");

        columns.Bound(p => p.Remarks).ClientTemplate("#= Remarks #" +
            "<input type='hidden' name='ItemDetails[#= getEventBudgetDetail(data)#].Remarks' value='#= Remarks #' />");



        // Button
        columns.Command(command => command.Custom("Delete").HtmlAttributes(new { @class = "btn btn-danger" })
            .Click("onDeleteKendoDetail")).Width(100);
    })
     .Events(e =>
     {
         e.Edit("onEditKendoDetail");
         e.DataBound("onDataBoundEducationDetails");
     })

    .DataSource(dataSource => dataSource.Ajax()
                   .Model(model =>
                   {
                       model.Id(p => p.ID);
                       model.Field(m => m.WBS).DefaultValue(RequisitionNoteItemVM.GetWBSDefaultValue());
                       model.Field(m => m.GL).DefaultValue(RequisitionNoteItemVM.GetGLDefaultValue());
                   })

                   .ServerOperation(false)
     )
    )
</div>

<script>
    function getEventBudgetDetail(dataItem) {
        var data = $("#ItemDetails").data("kendoGrid").dataSource.data();
        return data.indexOf(dataItem);
    }

    function getMsgType() {
        return { eventBudgetId: $("#hdnEvenBudgetId").val() };
    }

    function onDataBoundEducationDetails(e) {
        var grid = $("#ItemDetails").data("kendoGrid");
        hideDeletedRowKendoDetail(grid);
    }

</script>
